.modal_content {
  background-color: var(--color-neutral-white);
  border-radius: 1.5rem;
  box-shadow: 0 1rem 2rem 0 rgba(171, 190, 209, 0.3);
  padding: 3rem 2.5rem 2.5rem;
  max-width: 34rem;
}

.modal_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  text-align: center;
}

.title_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
}

.title {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.035rem;
  color: var(--color-neutral-black-1);
  margin: 0;
}

.description {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -0.0225rem;
  color: var(--color-neutral-grey-2);
  margin: 0;
}

.button_group {
  display: flex;
  gap: 0.625rem;
  width: 100%;
  justify-content: center;
}

.cancel_button {
  background-color: var(--color-neutral-white);
  border: 0.0625rem solid var(--color-neutral-l-grey-1);
  color: var(--color-neutral-black-1);
}
