.tags_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tag {
  padding: 0.25rem 0.375rem;
  border-radius: 18.75rem;
  font-family: var(--font-family-primary);
  font-size: 0.75rem;
  font-weight: var(--font-weight-medium);
  line-height: 1.4;
  letter-spacing: -0.015rem;
  white-space: nowrap;

  &.green {
    background: #f1f8e6;
    color: #6db600;
  }

  &.yellow {
    background: #fffbee;
    color: #e0924f;
  }

  &.blue {
    background: #f1f7ff;
    color: #6199e0;
  }

  &.red {
    background: #fff2f0;
    color: #e18d85;
  }
}
