@use '@/styles/mixin.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sub_title {
  color: var(--color-neutral-grey-2);
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: -0.0225rem;
}
