.wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 13.75rem;
  padding-bottom: 21.875rem !important;
}

.title_wrap {
  text-align: center;
  margin-bottom: 5rem;

  & .title {
    font-size: 2.8125rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-neutral-black-1);
    margin-bottom: 1rem;
  }

  & .description {
    font-size: 1.125rem;
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-tight); // 135 없음
    color: var(--color-neutral-grey-3);
  }
}

.search_wrap {
  width: 60rem;
  max-width: 60rem;
  position: relative;
  border-radius: 100%;
  margin-bottom: 5rem;

  .ic_search {
    position: absolute;
    left: 1.75rem;
    top: calc(50% - 0.75rem);
  }
  input {
    background-color: var(--color-neutral-white);
    border-radius: 18.75rem;
    border: 1px solid var(--color-neutral-l-grey-2);
    box-shadow: 0 0.375rem 0.75rem 0 rgba(171, 190, 209, 0.3);
    height: 4.75rem;
    width: 100%;
    padding-inline: 4rem 15rem;
  }
  button {
    position: absolute;
    right: 0.625rem;
    top: calc(50% - 1.9375rem);
  }
}

.background {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--color-neutral-back);
  padding: 5rem 0 10.625rem;
}

.question_section {
  max-width: 72.5rem;
  width: 72.5rem;
}

.question_wrap {
  width: 100%;
  background: var(--color-neutral-white);
  border-radius: 1.5rem;
  padding: 1.75rem 2.5rem 2.5rem;
  margin-bottom: 3.75rem;
}

.faq_title_wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.75rem;

  .faq_icon {
    margin-right: 1.25rem;

    & > span {
      display: flex;
      width: 6.6875rem;
      justify-content: flex-start;
      align-items: center;
      background: var(--color-primary-tint-1);
      border-radius: 187.5rem;
      font-size: 1rem;
      font-weight: var(--font-weight-regular);
      line-height: 145%;
      color: var(--color-neutral-black-1);
      padding: 0.40625rem 0.75rem;

      & > span {
        width: 0.625rem;
        height: 0.625rem;
        display: block;
        border-radius: 100%;
        background: #00fff4;
        margin-right: 0.5625rem;
      }
    }
  }

  .question_title {
    & span {
      font-size: 1.25rem;
      font-weight: var(--font-weight-bold);
      line-height: var(--line-height-normal);
      color: var(--color-neutral-black-2);
    }
  }
}

.tag_wrap {
  padding: 1.25rem 0 1.875rem;

  & ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
}

.faq_list_wrap {
  margin-bottom: 3.75rem;

  & ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;

    & li {
      width: 100%;
      padding: 1.25rem 1.375rem;
      border: 1px solid var(--color-neutral-l-grey-2);
      border-radius: 0.75rem;
    }
  }
}

.faq_item {
  & .question {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    & .question_title_wrap {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      & svg {
        margin-right: 1rem;
      }

      & .category {
        font-size: 1.125rem;
        font-weight: var(--font-weight-regular);
        line-height: 100%;
        color: var(--color-neutral-grey-3);
        margin-right: 1.25rem;
      }

      & .question_title {
        font-size: 1.125rem;
        font-weight: var(--font-weight-medium);
        line-height: 100%;
        color: var(--color-neutral-black-2);
      }
    }

    & svg {
      flex-shrink: 0;
      cursor: pointer;
    }
  }

  .arrow {
    transition: transform 0.3s ease;
  }

  .rotated {
    transform: rotate(180deg);
  }

  & .answer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: var(--color-neutral-back);
    border-radius: 0.75rem;
    padding: 1.5rem 1.5rem 2.5rem;
    overflow: hidden;
    transition: all 0.3s ease;

    &.open {
      max-height: 500rem;
      opacity: 1;
      margin-top: 1rem;
    }

    &.closed {
      max-height: 0;
      opacity: 0;
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 0;
    }

    & svg {
      margin-right: 1rem;
      flex-shrink: 0;
    }

    & p {
      font-size: 1.125rem;
      font-weight: var(--font-weight-regular);
      line-height: var(--line-height-normal);
      color: var(--color-neutral-black-2);
      letter-spacing: -0.02rem;
    }
  }
}

.buttton_wrap {
  width: 100%;

  & button {
    border-radius: 0.75rem;
  }
}

.none_item_wrap {
  display: flex;
  height: 30.625rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.75rem;
  border-radius: 1.5rem;
  background-color: var(--color-neutral-white);
  margin-bottom: 3.75rem;

  & span {
    font-size: 1.25rem;
    font-weight: var(--font-weight-medium);
    line-height: 100%;
    color: var(--color-neutral-black-1);
  }

  & p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 100%;
    color: var(--color-neutral-grey-2);
  }
}
