.wrapper {
  width: 100%;
  max-width: 47.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem auto 0rem;
}

.item_wrap {
  width: 100%;
}

.item_title_wrap {
  margin-bottom: 1.25rem;

  span {
    font-size: 1.25rem;
    font-weight: var(--font-weight-semibold);
    color: var(--color-neutral-black-1);
  }
}

.item_content_wrap {
  background-color: var(--color-neutral-white);
  padding: 1.5rem 1.25rem;
  border-radius: 0.75rem;
  margin-bottom: 3.75rem;
}

.item_content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  .content_img_wrap {
    width: 6.25rem;
    height: 6.25rem;
    margin-right: 1.5rem;
    flex-shrink: 0;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.5rem;
    }
  }
}

.content_info_wrap {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.625rem;

  & .content_title_wrap {
    & span {
      font-size: 1.125rem;
      font-weight: var(--font-weight-medium);
      line-height: var(--line-height-normal);
      color: var(--color-neutral-black-1);
    }
  }

  & .seller_wrap {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.625rem;

    & .seller_img_wrap {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.375rem;

      & img {
        width: 1.375rem;
        height: 1.375rem;
        object-fit: cover;
        border-radius: 100%;
      }

      & span {
        font-size: 0.9375rem;
        font-weight: var(--font-weight-regular);
        line-height: 100%;
        color: var(--color-neutral-grey-1);
      }
    }

    & .price {
      & span {
        font-size: 1.25rem;
        font-weight: var(--font-weight-semibold);
        line-height: var(--line-height-tight);
        color: var(--color-neutral-black-1);
      }
    }
  }
}

.refund_report_wrap {
  margin-bottom: 2.5rem;

  & .refund_report_title_wrap {
    margin-bottom: 1.25rem;

    & span {
      font-size: 1.375rem;
      font-weight: var(--font-weight-semibold);
      line-height: 125%;
      color: var(--color-neutral-black-1);
    }
  }
}

.reson_wrap {
  margin-bottom: 0.5rem;

  & .refund_report_title_wrap {
    & span {
      font-size: 1.375rem;
      font-weight: var(--font-weight-semibold);
      line-height: 125%;
      color: var(--color-neutral-black-1);
    }
  }
}

.refund_report_content_wrap {
  width: 100%;
  padding: 1.5rem 1.25rem;
  background-color: var(--color-neutral-white);
  border-radius: 0.75rem;
}

.radio_group {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.radio_item {
  height: 3.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  border: 1px solid var(--color-neutral-l-grey-1);
  border-radius: 0.75rem;

  font-size: 1.125rem;
  font-weight: var(--font-weight-regular);
  color: var(--color-neutral-black-2);
  line-height: 135%;

  & input[type='radio'] {
    display: none;
  }

  &:has(input[type='radio']:checked) {
    background-color: var(--color-primary-tint-1);
    border-color: var(--color-primary);
  }
}

.radio_input {
  width: 1.25rem;
  height: 1.25rem;
  accent-color: var(--color-primary-500);
  cursor: pointer;
}

.radio_label {
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
  color: var(--color-neutral-black-1);
  line-height: 1.5;
}

.textarea_wrap {
  height: 6.4375rem;

  & div {
    & textarea {
      min-height: 3.6875rem;

      &:disabled {
        background-color: var(--color-neutral-grey-6);
        color: var(--color-neutral-grey-2);
      }
    }
    gap: 0rem;
  }
}

.modal_button_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & button {
    width: 23.5rem !important;
  }
}
