.header {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.title_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-family: var(--font-family-primary);
  font-size: 1.375rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.4;
  letter-spacing: -0.44px;
  color: var(--color-neutral-black-1);
}

.inquiry_button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  height: 2.375rem;
  width: fit-content;
  background-color: var(--color-primary);
  color: var(--color-neutral-white);
  border: none;
  border-radius: 6.25rem;
  font-family: var(--font-family-primary);
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  line-height: normal;
  letter-spacing: -0.32px;
  cursor: pointer;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.9;
  }
}

.notice {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}

.notice_title {
  font-family: var(--font-family-primary);
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  line-height: 1.35;
  color: var(--color-neutral-grey-1);
}

.notice_description {
  font-family: var(--font-family-primary);
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
  line-height: 1.35;
  letter-spacing: -0.32px;
  color: var(--color-neutral-grey-3);
}
