.wrapper {
  width: 100%;
  height: 100%;
  padding: 0 1.25rem;
  background: #f6f7f9;
  padding-top: 6.25rem !important;
  padding-bottom: 8.75rem;
}

.container {
  max-width: 92.5rem;
  margin: 0 auto;
}

.title_wrap {
  text-align: left;
  margin-top: 5rem;
  margin-bottom: 3.75rem;

  & .title {
    font-size: 1.375rem;
    font-weight: var(--font-weight-semibold);
    line-height: 125%;
    color: var(--color-neutral-black-1);
  }
}

.purchase_tabs_wrap {
  margin-bottom: 1.875rem;
}

.filters_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.75rem;

  .filters_list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }

  .search_wrap {
    position: relative;
    width: 21rem;
    height: 3rem;

    & input {
      border-radius: 6.25rem;
      width: 100%;
      height: 100%;
      font-size: 0.875rem;
      padding: 0.75rem 3rem 0.75rem 1.875rem;
      background-color: #fafbfc;
      border: 0.0625rem solid #dae1e7;
    }
    & svg {
      position: absolute;
      top: 50%;
      right: 1.5rem;
      transform: translateY(-50%);
      color: var(--color-neutral-black-2);
      cursor: pointer;
    }
  }
}

.purchase_wrap {
  margin-bottom: 3.75rem;
  & > ul {
    & > li {
      margin-bottom: 3.75rem;

      &:last-child {
        margin-bottom: 0rem;
      }
    }
  }
}

.purchase_title_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  .purchase_date_wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    font-weight: var(--font-weight-semibold);
    line-height: 125%;
    color: #53585e;

    & span + svg {
      flex-shrink: 0;
      color: var(--color-neutral-grey-3);

      & + span {
        font-weight: var(--font-weight-regular);
        color: var(--color-neutral-grey-2);
      }
    }
  }

  .purchase_detail_wrap {
    & a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      font-weight: var(--font-weight-regular);
      line-height: 125%;
      color: var(--color-neutral-grey-2);
    }
  }
}

.purchase_item_wrap {
  background: #ffffff;
  border-radius: 0.75rem;

  & li {
    border-bottom: 0.0625rem solid var(--color-neutral-l-grey-2);

    &:last-child {
      border-bottom: 0rem;
    }
  }

  .purchase_item {
    padding: 1.5rem 1.875rem;

    .purchase_item_title {
      margin-bottom: 1.25rem;

      & span {
        font-size: 1rem;
        font-weight: var(--font-weight-semibold);
        line-height: 125%;
        color: var(--color-neutral-black-2);
      }
    }

    .item_info_wrap {
      height: 6.25rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .item_img {
        margin-right: 1.25rem;
        & img {
          width: 6.25rem;
          height: 6.25rem;
          border-radius: 0.5rem;
          object-fit: cover;
        }
      }
    }

    .info_left_wrap,
    .info_right_wrap {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    .item_info {
      width: 35.625rem;

      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      gap: 0.75rem;

      .item_title {
        font-size: 1.125rem;
        font-weight: var(--font-weight-medium);
        line-height: var(--line-height-normal);
        color: var(--color-neutral-black-1);
      }

      .item_seller {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        & img {
          width: 1.375rem;
          height: 1.375rem;
          object-fit: cover;
          border-radius: 6.25rem;
          margin-right: 0.375rem;
        }

        & span {
          font-size: 0.9375rem;
          font-weight: var(--font-weight-regular);
          color: #53585e;
        }
      }
    }

    .item_price_wrap {
      position: relative;
      width: 16.875rem;
      top: 0.6875rem;

      span {
        font-size: 1.125rem;
        font-weight: var(--font-weight-semibold);
        line-height: 125%;
        color: var(--color-neutral-black-1);
      }
    }

    .button_wrap {
      width: 26rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.75rem;

      & button {
        width: 8.375rem !important;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: var(--font-weight-medium);
        line-height: var(--line-height-normal);
        color: var(--color-neutral-black-2);
        padding: 0.625rem 2.5rem;
        line-height: 125%;
        border: 0.0625rem solid var(--color-neutral-l-grey-2);

        &:only-child {
          width: 100% !important;
        }

        & + button {
          width: 16.875rem !important;
        }
      }
    }
  }
}

// 나의 후기

.my_review_rwap {
  & ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 5rem;

    & li {
      border-radius: 0.75rem;
      background: var(--color-neutral-white);
      padding: 1.5rem 1.875rem;
    }
  }
}

.review_item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.review_info {
  // height: 164px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 2.5rem;

  .review_tags_wrap {
    margin-bottom: 0.625rem;
  }

  .review_title {
    margin-bottom: 1.5rem;

    & span {
      font-size: 1.125rem;
      font-weight: var(--font-weight-medium);
      line-height: var(--line-height-normal);
      color: var(--color-neutral-black-1);
    }
  }

  .review_rating_wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.5rem;

    .review_rating {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1.1875rem;

      & span {
        font-size: 1rem;
        font-weight: var(--font-weight-regular);
        line-height: 100%;
        color: var(--color-neutral-black-2);
        margin-left: 0.3125rem;
      }
    }

    .review_date {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      & span {
        font-size: 1rem;
        font-weight: var(--font-weight-regular);
        line-height: 125%;
        color: var(--color-neutral-grey-3);
      }
    }

    .review_read {
      & p {
        font-size: 1rem;
        font-weight: var(--font-weight-regular);
        line-height: 135%;
        color: var(--color-neutral-grey-1);
      }
    }
  }
}

.review_img_wrap {
  margin-right: 1.875rem;

  & img {
    width: 10.25rem;
    height: 10.25rem;
    border-radius: 0.75rem;
  }
}

.review_icon_wrap {
  & svg {
    color: var(--color-neutral-grey-3);
    cursor: pointer;
  }
}
