.floating_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  padding: 1.25rem 2.25rem;
  border-radius: 90000px;
  background-color: var(--color-primary-tint-2);
  color: var(--color-neutral-black-2);
  box-sizing: border-box;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  height: fit-content;

  &:hover {
    opacity: 0.9;
  }

  .emoji {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
  }

  img {
    width: 1.75rem;
  }

  .text {
    font-size: 1.125rem;
    line-height: 1.5;
    white-space: nowrap;
  }
}
