@use '@/styles/mixin.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  min-height: 100vh;
  padding-top: 16rem;
  padding-bottom: 11.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;

  text-align: center;
  background: linear-gradient(
      271deg,
      rgba(184, 214, 229, 0) 65.3%,
      rgba(184, 214, 229, 0.1) 101.31%
    ),
    linear-gradient(
      134deg,
      rgba(184, 214, 229, 0) 45.09%,
      rgba(184, 214, 229, 0.1) 83.86%
    ),
    linear-gradient(0deg, #f6f7f9 0%, #f6f7f9 100%), #f7f8f8;
}

.code {
  font-family: 'Lato', sans-serif;
  font-size: 12.5rem;
  font-weight: 800;
  line-height: 1;
  color: #e6eff0;
  margin-bottom: -1.5rem;
  flex-shrink: 0;
}

.content_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  max-width: 37.5rem;
  margin-bottom: 2.5rem;
}

.title {
  font-family: 'Pretendard', sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.035rem;
  color: #1e2022;
  margin: 0;
}

.message {
  font-family: 'Pretendard', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.0225rem;
  color: #727983;
  margin: 0;
  text-align: center;

  p {
    margin: 0;

    &:first-child {
      margin-bottom: 0;
    }
  }
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  a {
    width: 23.5rem;
    height: 3.75rem;
    background-color: var(--color-primary);
    line-height: 3.75rem;
    color: #fff;
    border-radius: 6.25rem;
    font-size: 1.25rem;
    font-weight: var(--font-weight-semibold);
  }
}
