.wrapper {
  width: 100%;
  max-width: 92.5rem;
  // min-width: 1440px;
  height: 100%;
  background: #f6f7f9;
}

.title_wrap {
  text-align: left;
  margin-top: 5rem;
  margin-bottom: 3rem;

  & .title {
    font-size: 1.375rem;
    font-weight: var(--font-weight-semibold);
    line-height: 125%;
    color: var(--color-neutral-black-1);
    margin-bottom: 1rem;
  }

  & p {
    font-size: 1.125rem;
    font-weight: var(--font-weight-medium);
    line-height: 125%;
    color: var(--color-neutral-grey-3);
  }
}

.purchase_wrap {
  margin-bottom: 3.75rem;
}

.purchase_item_wrap {
  border-radius: 0.75rem;

  & li {
    background: #ffffff;
    border-radius: 0.75rem;
    margin-bottom: 1rem;

    &:last-child {
      border-bottom: 0rem;
      margin-bottom: 0rem;
    }
  }

  .purchase_item {
    padding: 1.5rem 1.875rem;

    .purchase_item_title {
      margin-bottom: 1.25rem;

      & span {
        font-size: 1rem;
        font-weight: var(--font-weight-semibold);
        line-height: 125%;
        color: var(--color-neutral-black-2);
      }
    }

    .item_info_wrap {
      height: 6.25rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .item_img {
        margin-right: 1.25rem;
        & img {
          width: 6.25rem;
          height: 6.25rem;
          border-radius: 0.5rem;
          object-fit: cover;
        }
      }
    }

    .info_left_wrap,
    .info_right_wrap {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .item_info {
      width: 35.625rem;

      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      gap: 0.75rem;

      .item_title {
        font-size: 1.125rem;
        font-weight: var(--font-weight-medium);
        line-height: var(--line-height-normal);
        color: var(--color-neutral-black-1);
      }

      .item_seller {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        & img {
          width: 1.375rem;
          height: 1.375rem;
          object-fit: cover;
          border-radius: 6.25rem;
          margin-right: 0.375rem;
        }

        & span {
          font-size: 0.9375rem;
          font-weight: var(--font-weight-regular);
          color: #53585e;
        }
      }
    }

    .item_price_wrap {
      position: relative;
      top: 0.6875rem;

      span {
        font-size: 1.125rem;
        font-weight: var(--font-weight-semibold);
        line-height: 125%;
        color: var(--color-neutral-black-1);
      }
    }

    .button_wrap {
      width: 26rem;
      height: 2.625rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.75rem;

      & button {
        width: 12.625rem !important;
        height: 100%;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: var(--font-weight-medium);
        line-height: var(--line-height-normal);
        color: var(--color-neutral-black-2);
        padding: 0.625rem 2.5rem;
        border: 0.0625rem solid var(--color-neutral-l-grey-2);
      }
    }
  }
}

.buy_info_wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.5rem;
  margin-bottom: 6.25rem;
}

.user_info_wrap {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
}

.buy_info {
  width: 100%;
  background: var(--color-neutral-white);
  border-radius: 0.75rem;
  padding: 1.5rem 1.875rem;
}

.user_refund_wrap {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  background: var(--color-neutral-white);
  border-radius: 0.75rem;
  padding: 1.5rem 2rem;

  & span {
    font-size: 1.25rem;
    font-weight: var(--font-weight-semibold);
    line-height: 125%;
    color: var(--color-neutral-black-1);
  }

  & button {
    height: 2.625rem !important;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-normal);
    color: var(--color-neutral-black-1);
  }
}

.buy_info {
  & .user_title {
    margin-bottom: 2rem;

    & span {
      font-size: 1.25rem;
      font-weight: var(--font-weight-semibold);
      line-height: 125%;
      color: var(--color-neutral-black-1);
    }
  }

  .user_info {
    & ul {
      & li {
        margin-bottom: 0.5rem;
        & span {
          display: inline-block;
          font-size: 1.125rem;
          font-weight: var(--font-weight-regular);
          line-height: 125%;
          color: var(--color-neutral-grey-1);

          &:first-child {
            width: 5.25rem;
            margin-right: 2.5rem;
          }

          &:last-child {
            color: var(--color-neutral-black-1);
          }
        }

        &:last-child {
          margin-bottom: 0rem;
        }
      }
    }
  }
}

.purchase_price_wrap {
  width: 50%;
}

.purchase_price {
  width: 100%;
  background: var(--color-neutral-white);
  border-radius: 0.75rem;
  padding: 1.5rem 1.875rem;
  margin-bottom: 1.25rem;

  & .purchase_title {
    margin-bottom: 2rem;

    & span {
      font-size: 1.25rem;
      font-weight: var(--font-weight-semibold);
      line-height: 125%;
      color: var(--color-neutral-black-1);
    }

    & + .price_info_wrap {
      border-top: 0px !important;
      padding-top: 0px !important;

      & span {
        display: inline-block !important;
        font-size: 1.125rem !important;
        font-weight: var(--font-weight-regular) !important;
        line-height: 125% !important;
        color: var(--color-neutral-grey-1) !important;
      }
    }
  }

  .price_info_wrap {
    & > ul {
      & li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.875rem;

        & span {
          display: inline-block;
          font-size: 1.125rem;
          font-weight: var(--font-weight-regular);
          line-height: 125%;
          color: var(--color-neutral-grey-1);
        }

        &:last-child {
          margin-bottom: 0rem;
        }
      }
    }

    &:not(:first-child) {
      padding: 2rem 0;
      border-top: 0.0625rem solid var(--color-neutral-l-grey-2);
    }

    &:last-child {
      padding-bottom: 0;
    }

    & ul {
      & li {
        &:first-child {
          & span {
            font-size: 1.25rem;
            font-weight: var(--font-weight-semibold);
            line-height: 125%;
            color: var(--color-neutral-black-1);

            &:last-child {
              font-size: 1.125rem;
            }
          }
        }
      }
    }
  }
}

.receipt_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .receipt_button_wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;

    & button {
      width: 12.625rem;
      height: 2.625rem;
      background: var(--color-neutral-white);
      border-radius: 0.75rem;
      font-size: 1rem;
      font-weight: var(--font-weight-medium);
      line-height: var(--line-height-normal);
      color: var(--color-neutral-black-1);
    }
  }

  .refund_wrap {
    & a {
      font-size: 1rem;
      font-weight: var(--font-weight-regular);
      line-height: var(--line-height-normal);
      color: var(--color-neutral-grey-2);
      text-decoration: underline;
    }
  }
}

.back_btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8.75rem;

  & a {
    width: 23.5rem;
    height: 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-neutral-white);
    border: 0.0625rem solid var(--color-neutral-l-grey-2);
    border-radius: 6.25rem;
    font-size: 1.25rem;
    font-weight: var(--font-weight-semibold);
    line-height: 100%;
    color: var(--color-neutral-black-1);

    & svg {
      color: #53585e;
      margin-right: 0.375rem;
    }
  }
}
