// LoginModal 스타일
.modal_content {
  max-width: 30.625rem;
  background: var(--color-neutral-white);
  border-radius: 1.5rem;
  padding: 2.5rem;
}

.modal_body {
  display: flex;
  flex-direction: column;
}

.modal_img_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;

  & img {
    width: 128px;
    height: 128px;
    object-fit: cover;
  }
}

.modal_title_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.625rem;
  margin-bottom: 2.5rem;

  & h2 {
    font-size: 1.75rem;
    font-weight: var(--font-weight-bold);
    line-height: 100%;
    color: var(--color-neutral-black-1);
  }

  & p {
    text-align: center;
    font-size: 1.125rem;
    font-weight: var(--font-weight-regular);
    line-height: 135%;
    color: var(--color-neutral-grey-2);
    letter-spacing: -0.2%;
  }
}

.modal_button_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 0.63rem;

  & button {
    width: 100%;
    height: 3.76rem;
  }
}
