.wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 6.25rem;
}

.title_wrap {
  text-align: center;
  margin-top: 7.5rem;
  margin-bottom: 5rem;

  & .title {
    font-size: 1.75rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-neutral-black-1);
    margin-bottom: 1rem;
  }
}

.personal_form {
  width: 100%;
  max-width: 35rem;
  min-width: 35rem;

  .input_group {
    width: 100%;
    margin-bottom: 1.875rem;
  }

  .input_title {
    display: block;
    margin-bottom: 0.75rem;
    font-size: 1rem;
    font-weight: var(--font-weight-semibold);
    color: var(--color-neutral-black-1);
  }

  .input_wrap {
    position: relative;
    height: 3.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & svg {
      color: var(--color-neutral-grey-3);
    }
  }

  .input_name {
    width: 100%;
    border: 0.0625rem solid var(--color-neutral-l-grey-2);
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-neutral-black-1);
    padding: 1rem 1.375rem;

    &:focus {
      border: 0.0625rem solid var(--color-primary);
    }

    & + button {
      width: 8.3125rem;
      height: 100%;
      border: 0.0625rem solid var(--color-neutral-l-grey-2);
      border-radius: 0.75rem;
      margin-left: 0.625rem;
      flex-shrink: 0;
      font-size: 1rem;
      font-weight: var(--font-weight-regular);
      color: var(--color-neutral-grey-3);
    }

    & + svg {
      width: 1.25rem;
      height: 1.25rem;
      position: absolute;
      top: 50%;
      right: 1.375rem;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  .input_wrap .pass_check {
    width: 100%;
    height: 100%;
    border: 0.0625rem solid var(--color-neutral-l-grey-2);
    border-radius: 0.75rem;
    margin-left: 0.625rem;
    flex-shrink: 0;
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: var(--color-neutral-grey-3);
    margin-left: 0;

    &:not(:disabled) {
      color: var(--color-neutral-black-2);
    }

    &:disabled,
    &:disabled {
      background: var(--color-neutral-back);
    }

    &.success {
      color: var(--color-action-success) !important;
    }
  }

  .input_name[type='email'] {
    border-end-end-radius: 0;
    border-top-right-radius: 0;
    border-right: 0rem;
  }

  .input_name[type='email']:focus {
    border-right: 0;
  }

  .input_name[type='email']:focus.error {
    border: 0.0625rem solid var(--color-action-error);
    border-right: 0;
  }

  .input_name:focus.error {
    border: 0.0625rem solid var(--color-action-error);
  }

  .input_name[type='email'] + button {
    height: 3.3125rem;
    border-end-start-radius: 0;
    border-top-left-radius: 0;
    border-left: 0rem;
    margin-left: 0;
  }

  .input_name[type='email']:focus + button {
    border: 0.0625rem solid var(--color-primary);
    border-left: 0rem;
  }

  .input_name[type='email']:focus.error + button {
    border: 0.0625rem solid var(--color-action-error);
    border-left: 0rem;
  }

  // 닉네임 필드 스타일 (이메일과 동일한 연결 디자인)
  .input_name.with_button {
    border-end-end-radius: 0;
    border-top-right-radius: 0;
    border-right: 0rem;
  }

  .input_name.with_button:focus {
    border-right: 0;
  }

  .input_name.with_button:focus.error {
    border: 0.0625rem solid var(--color-action-error);
    border-right: 0;
  }

  .input_name.with_button + button {
    height: 3.3125rem;
    border-end-start-radius: 0;
    border-top-left-radius: 0;
    border-left: 0rem;
    margin-left: 0;
  }

  .input_name.with_button:focus + button {
    border: 0.0625rem solid var(--color-primary);
    border-left: 0rem;
  }

  .input_name.with_button:focus.error + button {
    border: 0.0625rem solid var(--color-action-error);
    border-left: 0rem;
  }

  .input_desc_wrap {
    margin-top: 0.625rem;
  }

  .input_sub_wrap {
    margin-top: 0.75rem;
  }
}

.input_sub_wrap,
.input_desc_wrap {
  & span {
    font-size: 0.875rem;
    font-weight: 300;
    color: var(--color-neutral-grey-2);
  }

  & span.warn {
    color: var(--color-action-error);
  }

  & span.success {
    display: flex;
    align-items: center;
    gap: 0.375rem;
    color: var(--color-action-success);

    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

.phone_input + .input_check:not(:disabled) {
  color: var(--color-neutral-black-2);
}

.input_check:disabled,
.input_name:disabled {
  background: var(--color-neutral-back);
}

.input_check.success {
  color: var(--color-action-success) !important;
}
.button_wrap {
  padding-top: 1.875rem;
}
