.wrapper {
  width: 100%;
  max-width: 47.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem auto 0rem;
}

.item_wrap {
  width: 100%;
}

.item_title_wrap {
  margin-bottom: 1.25rem;

  span {
    font-size: 1.25rem;
    font-weight: var(--font-weight-semibold);
    color: var(--color-neutral-black-1);
  }
}

.item_content_wrap {
  background-color: var(--color-neutral-white);
  padding: 1.5rem 1.25rem;
  border-radius: 0.75rem;
  margin-bottom: 3.75rem;
}

.item_content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  .content_img_wrap {
    width: 6.25rem;
    height: 6.25rem;
    margin-right: 1.5rem;
    flex-shrink: 0;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.5rem;
    }
  }
}

.content_info_wrap {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.625rem;

  & .content_title_wrap {
    & span {
      font-size: 1.125rem;
      font-weight: var(--font-weight-medium);
      line-height: var(--line-height-normal);
      color: var(--color-neutral-black-1);
    }
  }

  & .seller_wrap {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.625rem;

    & .seller_img_wrap {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.375rem;

      & img {
        width: 1.375rem;
        height: 1.375rem;
        object-fit: cover;
        border-radius: 100%;
      }

      & span {
        font-size: 0.9375rem;
        font-weight: var(--font-weight-regular);
        line-height: 100%;
        color: var(--color-neutral-grey-1);
      }
    }

    & .price {
      & span {
        font-size: 1.25rem;
        font-weight: var(--font-weight-semibold);
        line-height: var(--line-height-tight);
        color: var(--color-neutral-black-1);
      }
    }
  }
}

.refund_info_wrap {
  padding: 1.5rem 1.875rem;
  background-color: var(--color-neutral-white);
  border-radius: 0.75rem;
  margin-bottom: 5.75rem;
}

.refund_info_content {
  padding: 2rem 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--color-neutral-l-grey-2);

  & .info_title_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    & span {
      font-size: 1.25rem;
      font-weight: var(--font-weight-semibold);
      line-height: 125%;
      color: var(--color-neutral-black-1);
    }
  }

  &:first-of-type {
    margin-top: 0;
    padding-top: 0;
  }
  &:last-of-type {
    margin-bottom: 0;
    padding: 0;
    border-bottom: none;
  }
}

.refund_cost_wrap {
  & .refund_cost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.875rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    & span {
      font-size: 1.125rem;
      font-weight: var(--font-weight-regular);
      line-height: 125%;
      color: var(--color-neutral-grey-1);
    }
  }
}

.modal_button_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & button {
    width: 23.5rem !important;
  }
}
