.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 77.5rem;
  margin: 0 auto;
  padding-inline: 1.25rem;
}

.title {
  color: var(--color-neutral-black-1);
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.0275rem;

  padding-block: 5rem 1.25rem;
  border-bottom: 1px solid var(--color-neutral-l-grey-1);
}

.form_action_buttons {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  margin-top: 6.25rem;
}
