.modal_content {
  width: 31.625rem;
  background: var(--color-neutral-white);
  border-radius: 1.5rem;

  img {
    width: auto;
  }
}

.modal_body {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.img_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_title_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
}

.title {
  font-size: 1.75rem !important;
  font-weight: var(--font-weight-bold) !important;
  color: var(--color-neutral-black-1);
  text-align: center;
}

.description {
  font-size: 1.125rem !important;
  font-weight: var(--font-weight-regular);
  line-height: 1.35;
  color: var(--color-neutral-grey-2) !important;
  text-align: center;
  white-space: pre-line;
  letter-spacing: -0.03125rem;
}

.modal_button_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  & > button {
    width: 100%;
    height: 3.75rem;
  }

  & > a {
    font-size: 1rem;
    color: var(--color-neutral-grey-3);
    text-decoration: underline;
  }
}
