// 비쥬얼 영역 우측 슬라이드
.rcmslide_wrap {
  position: relative;
  .rcm_nav {
    position: absolute;
    top: 0;
    left: -2.5rem;
    top: calc(50% - 0.75rem);
    width: calc(100% + 5rem);
    display: flex;
    justify-content: space-between;
    z-index: 10;
    .rcm_prev,
    .rcm_next {
      width: 1.5rem;
      height: 1.5rem;
      font-size: 0;
      color: #6ac5d3;
      &.swiper-button-disabled {
        color: #a6c1c5;
      }
    }
    .rcm_prev {
      transform: rotate(-180deg);
    }
  }
  .rcm_pagination {
    position: absolute;
    width: 100%;
    bottom: -2.125rem;
    display: flex;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;

    .swiper-pagination-bullet {
      background-color: #a6c1c5;
      opacity: 1;
      height: 0.375rem;
      width: 0.375rem;
      margin: 0;
      cursor: pointer;

      &.swiper-pagination-bullet-active {
        background-color: #6ac5d3;
        width: 1.5rem;
        border-radius: 6.25rem;
      }
    }
  }
}

// 교육자료 슬라이드
.education_box {
  .education_slide {
    max-width: 21.375rem;
  }
  .educationslide_nav {
    position: absolute;
    right: 0;
    top: 2.125rem;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    .education_prev,
    .education_next {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      background-color: var(--color-primary);
      border-radius: 100%;
      color: #fff;
      &.swiper-button-disabled {
        color: #f1f6f8;
        background-color: #c5e2eb;
      }
    }
    .education_prev {
      transform: rotate(-180deg);
    }
  }
}

// 수업 준비 슬라이드
.experience_nav {
  position: absolute;
  top: -4.25rem;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  width: 100%;
  max-width: 92.5rem;
  .experience_prev,
  .experience_next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.25rem;
    height: 4.25rem;
    border-radius: 100%;
    color: #fff;
    background-color: var(--color-neutral-black-2);
    &.swiper-button-disabled {
      color: #c4c5c7;
      background-color: var(--color-neutral-white);
      border: 0.125rem solid #c4c5c7;
    }
  }
  .experience_prev {
    transform: rotate(-180deg);
  }
}

@media (max-width: 1700px) {
  // .experience_nav,
  .educationslide_nav {
    right: 1.25rem;
  }
}
