.wrapper {
  width: 100%;
  max-width: 92.5rem;
  height: 100%;
  margin-top: 11.25rem;
  padding-inline: 1.25rem;
}
.title_wrap {
  & .title {
    font-size: 1.375rem;
    font-weight: var(--font-weight-semibold);
    color: var(--color-neutral-black-1);
  }

  & .description {
    font-size: 1.125rem;
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-medium);
    color: var(--color-neutral-grey-3);
    margin-top: 0.75rem;
  }
}
.page_content {
  display: flex;
  align-items: flex-start;
  gap: 5rem;
  width: 100%;
  margin-top: 3.75rem;
  .suffix {
    flex: 1 1 calc(100% - 23.75rem);
    .text_box {
      width: 100%;
      padding: 1.25rem 2.5rem;
      background-color: var(--color-neutral-back);
      border-radius: 0.75rem;
      font-size: 1.25rem;
      font-weight: var(--font-weight-Medium);
      line-height: 135%;
      color: var(--color-neutral-black-2);
    }
    .box_list {
      margin-top: 1.5rem;
      ul {
        display: flex;
        gap: 1rem;
        li {
          flex: 1 1 calc(33% - 1rem);
          border: 1px solid var(--color-neutral-l-grey-2);
          border-radius: 0.75rem;
          background-color: var(--color-netural-white);
          padding: 2.5rem 0;
          text-align: center;
          font-size: 1.25rem;
          font-weight: var(--font-weight-Medium);
          line-height: 125%;
          color: var(--color-neutral-grey-1);
          span {
            display: block;
            color: var(--color-neutral-black-1);
            font-weight: var(--font-weight-semibold);
            font-size: 1.5rem;
            padding-top: 0.875rem;
          }
        }
      }
    }
  }
}
