.modal {
  width: 58.9375rem !important;
  max-width: 90vw !important;
  max-height: 90vh;
  background-color: var(--color-neutral-white);
  border-radius: 1.5rem;
  box-shadow: var(--shadow-2xl);
  padding: 2.5rem !important;
  overflow-y: auto;
  border: none;
  display: flex !important;
  gap: 1.5rem;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-neutral-l-grey-1);
    border-radius: 6.25rem;
  }
}

.modal_inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2.625rem;

  h2 {
    font-size: 1.375rem;
    font-weight: 700;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.review_section {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.rating_info {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.user_info {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.author {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--color-neutral-black-2);
  letter-spacing: -0.0225rem;
  line-height: 1.35;
}

.date {
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--color-neutral-grey-2);
  letter-spacing: -0.00875rem;
  line-height: 1.35;
}

.review_detail {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.review_content {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--color-neutral-black-2);
  letter-spacing: -0.0225rem;
  line-height: 1.4;
  margin: 0;
}

.image_gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.image {
  width: 17.3125rem;
  height: 15.125rem;
  border-radius: 0.75rem;
  object-fit: cover;
}
