.wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 16rem;
  background-color: #f7f8f8;
}

.image_wrap {
  margin-bottom: 2.5rem;
}

.title_wrap {
  text-align: center;
  margin-bottom: 2.5rem;

  & .title {
    font-size: 1.75rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-neutral-black-1);
    margin-bottom: 1.25rem;
  }

  & .description {
    font-size: 1.125rem;
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-normal);
    color: var(--color-neutral-grey-2);
  }
}

.button_wrap {
  max-width: 25.625rem;
  min-width: 25.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  & button {
    width: 12.5rem;
    height: 3.75rem;
    flex-shrink: 1;
    font-weight: var(--font-weight-semibold);
    font-size: 1.25rem;
  }
  & .search_link {
    font-size: 1rem;
    color: var(--color-neutral-grey-3);
    text-decoration: underline;
  }
}
