.modal_content {
  padding: 2.5rem;
  background-color: #fff;
  border-radius: 1.5rem;
  max-width: 40.625rem;

  input {
    height: 3.25rem;
  }
}
.modal_title {
  width: 100%;
  text-align: center;
  font-size: 1.375rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-neutral-black-1);
}
.modal_body {
  margin-bottom: 2.5rem;
}
.modal_header {
  button {
    display: none;
  }
}
.label {
  display: block;
  font-size: 1rem;
  font-weight: var(--font-weight-semibold);
  color: var(--color-neutral-black-1);
  padding-block: 3rem 1rem;
}

.input_group {
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
  margin-bottom: 0.75rem;
  button {
    min-width: 8.3125rem;
    border-radius: 0.75rem;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    border: 1px solid var(--color-neutral-l-grey-2);
    background-color: var(--color-neutral-back);
    color: var(--color-neutral-grey-3);
  }
  .resend_btn {
    color: var(--color-action-success);
    border: 1px solid var(--color-action-success);
    background-color: #fff;
  }
}
.success_wrap {
  position: relative;

  svg {
    position: absolute;
    top: 50%;
    right: 1.375rem;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    color: var(--color-primary);
  }
}
.modal_footer {
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}
