.faq_box {
  position: relative;
  padding-top: 5.625rem;
  display: flex;
  justify-content: space-between;
}

.img_box {
  width: 36.81%;

  img {
    height: auto;
  }
}
.faq_list {
  width: 57.64%;

  li {
    padding: 1.625rem 2.5rem;
    border-radius: 1.5rem;
    background-color: var(--color-neutral-white);
    color: var(--color-neutral-black-2);
    transition: all 0.5s ease;

    &.active {
      background-color: var(--color-primary);
      color: var(--color-neutral-b-grey-1);
      .ic_tg {
        background-color: var(--color-neutral-white);
        color: var(--color-primary);
        border-color: transparent;
      }
      .faq_txt {
        max-height: 31.25rem;
        height: auto;
      }
    }
  }
  li ~ li {
    margin-top: 0.75rem;
  }
}

.faq_tit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
  cursor: pointer;
  width: 100%;
  transition: max-height 0.3s ease;

  p {
    font-size: 1.375rem;
    font-weight: var(--font-weight-medium);
    flex: 1;
  }
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.625rem;
    height: 2.625rem;
    border: 1px solid var(--color-neutral-l-grey-1);
    border-radius: 100%;
    color: var(--color-neutral-l-grey-1);
  }
}

.faq_txt {
  max-width: calc(100% - 3.875rem);
  height: 0;
  overflow: hidden;
  font-size: 1.125rem;
  line-height: 1.45;
  transition: max-height 0.3s ease;

  p {
    padding-top: 1.25rem;
  }
}
