.thumbnail_container {
  position: relative;
  width: 6.6875rem;
  height: 6.0625rem;
  border-radius: 0.75rem;
  overflow: hidden;
  flex-shrink: 0;

  &.clickable {
    cursor: pointer;
  }
}

.thumbnail_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image_count {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 0.625rem;
  background-color: rgba(83, 88, 94, 0.4);
  backdrop-filter: blur(0.15625rem);
  font-size: 1rem;
  font-weight: var(--font-weight-semibold);
  line-height: 1.4;
  color: var(--color-neutral-white);
}

// 위치별 스타일
.position_top_left {
  top: 0;
  left: 0;
  border-radius: 0 0 0.5625rem 0;
}

.position_top_right {
  top: 0;
  right: 0;
  border-radius: 0 0 0 0.5625rem;
}

.position_bottom_left {
  bottom: 0;
  left: 0;
  border-radius: 0 0.5625rem 0 0;
}

.position_bottom_right {
  bottom: 0;
  right: 0;
  border-radius: 0.5625rem 0 0 0;
}
