.wrapper {
  width: 100%;
  max-width: 37.5rem;
  min-width: 37.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 16rem;
}

.image_wrap {
  margin-bottom: 2.5rem;
}

.title_wrap {
  text-align: center;

  & .title {
    font-size: 1.75rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-neutral-black-1);
  }

  & .description {
    font-size: 1.125rem;
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-normal);
    color: var(--color-neutral-grey-2);
    margin-top: 1.25rem;
  }
}

.button_wrap {
  width: 100%;
  max-width: 25.625rem;
  min-width: 25.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding-top: 3.75rem;

  & a,
  & button {
    width: 12.5rem;
    height: 3.75rem;
    flex-shrink: 1;
    font-weight: var(--font-weight-semibold);
    font-size: 1.25rem;
  }
}
