// 나의 문의

.my_inquire_wrap {
  width: 100%;
  margin-bottom: 5rem;

  & ul {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.875rem;

    & li {
      width: 100%;
    }
  }
}

.inquire_link {
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: left;
}

.inquire_item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.inquire_state_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;

  & .inquire_state {
    height: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & span {
      font-size: 0.9375rem;
      font-weight: var(--font-weight-medium);
      line-height: 135%;
      color: var(--color-neutral-grey-2);
    }

    & span.state_success {
      color: var(--color-action-success);
    }

    & svg {
      height: 1.25rem;
      color: var(--color-neutral-grey-2);
    }
  }

  & .inquire_date {
    & span {
      font-size: 1rem;
      font-weight: var(--font-weight-regular);
      line-height: 125%;
      color: var(--color-neutral-grey-2);
    }
  }
}

.inquire_card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--color-neutral-white);
  border-radius: 0.75rem;
  padding: 1.5rem 1.875rem;

  & .inquire_img {
    margin-right: 2.5rem;

    img {
      border-radius: 0.5rem;
      width: 7.5rem;
      height: 7.5rem;
      object-fit: cover;
    }
  }

  & .inquire_info_wrap {
    height: 6.125rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    & .inquire_tags_wrap {
    }

    & .inquire_title {
      font-size: 1.125rem;
      font-weight: var(--font-weight-medium);
      line-height: var(--line-height-normal);
      color: var(--color-neutral-black-1);
    }

    & .inquire_desc {
      display: flex;
      justify-items: flex-start;
      align-items: flex-start;

      & svg {
        flex-shrink: 0;
        margin-right: 0.625rem;
      }

      & p {
        font-size: 1rem;
        font-weight: var(--font-weight-regular);
        line-height: 135%;
        color: var(--color-neutral-grey-1);
      }
    }
  }
}
