.achievement_card {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 1.25rem 1.5rem;
  background-color: var(--color-neutral-white);
  border-radius: 0.75rem;
  font-size: 1.125rem;
  color: #333333;
  letter-spacing: -0.0225rem;
}

.code {
  flex-shrink: 0;
  line-height: 1.55;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  flex-shrink: 0;
  line-height: 1.55;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
