.modal_content {
  max-width: 40.625rem !important;
  background: var(--color-neutral-white);
  padding-inline: 0 !important;
}

.modal_body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  max-height: calc(100vh - 20rem);
  overflow-y: auto;
  padding: 2.5rem 2.5rem 1.75rem;
}

.modal_title_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5625rem;
  padding-bottom: 1.25rem;

  & h2 {
    font-size: 1.375rem;
    font-weight: var(--font-weight-bold);
    line-height: 100%;
    color: var(--color-neutral-black-1);
  }

  & p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    line-height: 135%;
    color: var(--color-neutral-grey-1);

    & .link_icon {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-primary);
      margin-left: 0.5rem;
    }
  }
}

.info_wrap {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.5rem 1.25rem;
  border: 0.0625rem solid var(--color-neutral-l-grey-1);
  border-radius: 0.75rem;

  .item_img {
    margin-right: 1.5rem;
    & img {
      width: 6.25rem;
      height: 6.25rem;
      border-radius: 0.5rem;
      object-fit: cover;
    }
  }

  .item_info {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    flex: 1 1;
    min-width: 0;
  }

  .item_title {
    font-size: 1.125rem;
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-normal);
    color: var(--color-neutral-black-1);
  }

  .item_seller {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & img {
      width: 1.375rem;
      height: 1.375rem;
      object-fit: cover;
      border-radius: 6.25rem;
      margin-right: 0.375rem;
    }

    & span {
      font-size: 0.9375rem;
      font-weight: var(--font-weight-regular);
      color: #53585e;
    }
  }
}

.section_title {
  margin-bottom: 1.25rem;

  & span {
    font-size: 1.125rem;
    font-weight: var(--font-weight-semibold);
    line-height: 100%;
    color: var(--color-neutral-black-1);

    & + p {
      margin-top: 0.63rem;
      font-size: 1rem;
      font-weight: var(--font-weight-regular);
      line-height: 135%;
      color: var(--color-neutral-grey-1);
      letter-spacing: -0.02rem;
    }
  }
}

.write_wrap {
  width: 100%;

  .editor_wrap {
    margin-bottom: 1.25rem;

    & > div {
      padding: 0.875rem 0.75rem 0.5rem;
      & textarea {
        min-height: 6.125rem;
      }
    }
  }
}

.attach_wrap {
  margin-bottom: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  & .attach_input {
    margin-right: 0.25rem;

    & input {
      display: none;
    }

    & label {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      gap: 0.12rem;
      width: 5.64rem;
      height: 5.64rem;
      border-radius: 0.75rem;
      border: 0.06rem solid var(--color-neutral-l-grey-1);
      cursor: pointer;
      padding-top: 1rem;

      & img {
        width: 2.25rem;
        height: 2.25rem;
      }

      & span {
        font-size: 0.9375rem;
        font-weight: var(--font-weight-regular);
        line-height: 135%;
        color: var(--color-neutral-grey-1);
      }
    }
  }

  .preview_list {
    display: flex;
    gap: 0.375rem;
    flex-wrap: wrap;
  }

  .preview_item {
    position: relative;
    width: 5.64rem;
    height: 5.64rem;
    border-radius: 0.75rem;
    overflow: hidden;
    border: 0.06rem solid var(--color-neutral-l-grey-1);

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .remove_btn {
      position: absolute;
      top: 0.25rem;
      right: 0.25rem;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      color: var(--color-neutral-white);
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.25rem;
      line-height: 1;

      & svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}

.file_desc_wrap {
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
  line-height: 135%;
  color: var(--color-neutral-grey-3);

  ul {
    li {
      position: relative;
      padding-left: 1.5rem;
      color: var(--color-neutral-grey-3);
      font-size: 1rem;

      &::before {
        content: '';
        position: absolute;
        left: 0.625rem;
        top: 0.625rem;
        width: 0.1875rem;
        height: 0.1875rem;
        border-radius: 100%;
        background-color: var(--color-neutral-grey-3);
      }
    }
  }
}

.button_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.63rem;
  padding-top: 1.25rem;

  & button {
    width: 12.1875rem !important;
    height: 3.75rem !important;
  }
}
