.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 27rem;
  max-width: 27rem;
  flex-shrink: 0;
}

.summary_card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2.5rem 1.875rem 1.875rem;
  background-color: var(--color-neutral-white);
  border-radius: 0.75rem 0.75rem 0 0;
}

.summary_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.summary_label {
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--color-neutral-grey-1);
  line-height: 1.25;
  letter-spacing: -0.36px;
}

.summary_value {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--color-neutral-grey-1);
  line-height: 1.25;
  letter-spacing: -0.18px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-neutral-l-grey-2);
}

.total_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.total_label {
  font-size: 1.375rem;
  font-weight: 600;
  color: var(--color-neutral-black-1);
  line-height: 1.25;
  letter-spacing: -0.44px;
}

.total_value {
  font-size: 1.375rem;
  font-weight: 600;
  color: var(--color-neutral-black-1);
  line-height: 1.25;
  letter-spacing: -0.22px;
}

.notice_card {
  padding: 2.5rem 1.875rem;
  background-color: #fbfcfd;
  border-top: 1px solid var(--color-neutral-l-grey-2);
  border-radius: 0 0 0.75rem 0.75rem;

  & span {
    display: block;
    font-size: 15px;
    font-weight: var(--font-weight-medium);
    line-height: 135%;
    color: var(--color-neutral-grey-2);
    margin-bottom: 10px;
    & a {
      display: inline-block;
      color: var(--color-primary-500);
      text-decoration: underline;
    }
  }
}

.notice_text {
  font-size: 0.9375rem;
  font-weight: 400;
  color: var(--color-neutral-grey-3);
  line-height: 1.6;
  letter-spacing: -0.3px;
  word-break: break-all;
  margin: 0;
}

.checkout_button {
  width: 100%;
  padding: 1.125rem 0;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.4px;
}
