@use '@/styles/mixin.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: center;
  width: 100%;
  flex-shrink: 0;
}

.pagination {
  box-sizing: border-box;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.75rem 0 0;
  flex-shrink: 0;
}

// 이전/다음 버튼
.nav_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--color-neutral-grey-1);
  flex-shrink: 0;
  transition: color 0.2s;

  svg {
    width: 1rem;
  }
  &:hover:not(.disabled) {
    color: var(--color-primary);
  }

  &.disabled {
    cursor: not-allowed;
    svg {
      color: var(--color-neutral-grey-3);
    }
  }
}

.next {
  transform: rotate(180deg) scaleY(-100%);
}

// 페이지 번호 컨테이너
.pages {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  flex-shrink: 0;
}

// 페이지 번호 버튼
.page_button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem;
  width: 2.25rem;
  height: 2.25rem;
  border: none;
  background: transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
  line-height: 1.3125rem;
  color: var(--color-neutral-grey-3);
  flex-shrink: 0;
  transition: all 0.2s;

  &:hover {
    background-color: var(--color-neutral-b-grey-1);
  }

  &.active {
    font-weight: var(--font-weight-medium);
    color: var(--color-neutral-black-1);
    background-color: transparent;
  }
}
