html {
  height: 100%;
  font-size: 16px;
  overflow-y: auto;
}

body {
  color: var(--black);
  font-family: var(--kor), sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.45;
  word-wrap: break-word;
  word-break: keep-all;
  letter-spacing: -0.02em;
}

* {
  box-sizing: border-box;
  outline: none !important;
  font-style: normal;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

fieldset,
img,
abbr,
acronym {
  border: 0 none;
}

legend {
  position: absolute;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
}

legend.showlegend {
  position: static;
  line-height: 0.875rem;
  font-size: 0.75rem;
  overflow: visible;
}

address,
caption,
cite,
code,
dfn,
em,
var,
i,
b {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

q:before,
q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  text-indent: -625rem;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  vertical-align: middle;
  background-color: transparent;
  border: 0 none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

select {
  -webkit-border-radius: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(/images/common/select_arrow.png) no-repeat right 0.625rem
    center / 0.5625rem auto;
  padding: 0 0.9375rem;
}

select::-ms-expand {
  display: none;
}

input[type='text'],
input[type='password'],
input[type='number'],
input[type='tel'],
input[type='email'],
input[type='button'],
input[type='submit'],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: button;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
  line-height: 0.875rem;
  box-sizing: border-box;
  -webkit-border-radius: 0;
}

input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

input::-webkit-input-placeholder,
input:-moz-input-placeholder,
input::-moz-input-placeholder,
input:-ms-input-placeholder,
textarea::-webkit-input-placeholder,
textarea:-moz-placeholder,
textarea::-moz-placeholder,
textarea:-ms-input-placeholder {
  color: #a0a0a0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0 62.5rem transparent inset;
  color: inherit;
  font-size: inherit;
  transition: 5000s ease-in-out 0s;
}

textarea {
  overflow: auto;
  resize: none;
}

img {
  display: block;
  width: 100%;
  vertical-align: top;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
object {
  display: block;
  margin: 0;
  padding: 0;
}

audio[controls],
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* Disable orange highlight */
label,
a,
button {
  -o-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
