.gravity_box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: all;
  }

  .gravity_item {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    will-change: transform;
    & > div {
    }

    & img {
      width: 1.35rem !important;
      height: 1.47rem !important;
    }

    & span {
      font-size: 1.125rem !important;
      font-weight: var(--font-weight-medium);
      line-height: 125% !important;
      // color: var(--color-neutral-black-2);
    }
  }
}
