.modal_content {
  max-width: 57.5625rem !important;
  background-color: #fff;
  padding: 2rem !important;
}

.modal_header {
  padding-bottom: 1.25rem !important;
  display: flex;
  gap: 0.5rem;

  .modal_title {
    font-size: 1.375rem;

    .modal_desc {
      font-size: 1rem;
      margin-left: 0.75rem;
      color: var(--color-neutral-grey-2);
      font-weight: var(--font-weight-medium);
    }
  }

  svg {
    width: 1.25rem;
  }
}

.modal_body {
  max-height: calc(100vh - 20rem);
  overflow-y: auto;
  padding-block: 1.25rem;
}

.modal_footer {
  padding-block: 1.25rem 0.5rem;
  gap: 1.25rem;
  button:first-child {
    width: 14.3125rem !important;
  }
  button:last-child {
    width: calc(100% - 14.3125rem) !important;
  }
}

.interest_title_wrap {
  width: 100%;
  margin-bottom: 1rem;

  & span {
    font-size: 1rem;
    font-weight: var(--font-weight-semibold);
    line-height: 125%;
    color: var(--color-neutral-black-1);
    margin-right: 0.625rem;

    & + span {
      font-size: 0.9375rem;
      font-weight: 300;
      line-height: var(--line-height-normal);
      color: var(--color-neutral-grey-3);
      margin-right: 0;
    }
  }
}

.interest_grade {
  margin-bottom: 3.75rem;

  .interest_grade_wrap {
    & ul {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.interest_ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.375rem;
}

.interest_grade_section {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }

  .interest_all {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    & svg {
      color: var(--color-neutral-l-grey-2);
      margin: 0 0.1875rem;
    }
  }
}

.interest_subject {
  .interest_subject_group {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1rem;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    .subject_title {
      padding: 0.5rem 0.6875rem;
      min-width: 3.4375rem;

      & span {
        font-size: 0.9375rem;
        color: var(--color-neutral-grey-3);
      }
    }
  }
}
