@use '@/styles/mixin.scss' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0.0625rem;
  min-height: 0.0625rem;
  line-height: 0;
}

.title {
  font-size: 1.375rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.4;
  letter-spacing: -0.0275rem;
  color: var(--color-neutral-black-1);
  white-space: nowrap;
  margin: 0;
}

.count {
  font-size: 1.25rem;
  font-weight: var(--font-weight-semibold);
  line-height: 1.35;
  letter-spacing: -0.025rem;
  color: var(--color-primary);
  white-space: nowrap;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0.0625rem;
  min-height: 0.0625rem;
}

.rating_container {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}

.rating_text {
  font-size: 0.9375rem;
  font-weight: var(--font-weight-regular);
  line-height: normal;
  letter-spacing: -0.009375rem;
  color: var(--color-neutral-black-2);
  white-space: nowrap;
}
