@use '@/styles/mixin.scss' as *;

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;
  width: 100%;
}
