.wrapper {
  display: flex;
  justify-content: center;
  background: linear-gradient(0deg, #f6f7f9 0%, #f6f7f9 100%), #f7f8f8;
  padding: 6.25rem 0 10.625rem;
  width: 100%;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 92.5rem;
  width: 100%;
}

.title {
  display: flex;
  gap: 0.375rem;
  padding: 5rem 1.25rem 0;
  align-items: baseline;

  color: var(--color-neutral-black-1);
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.0275rem;
}
