.wrapper {
  width: 100%;
  max-width: 35rem;
  min-width: 35rem;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 13.75rem;
}

.title_wrap {
  text-align: center;
  margin-bottom: 5rem;

  & .title {
    font-size: 1.75rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-neutral-black-1);
    margin-bottom: 1rem;
  }

  & .description {
    font-size: 1.125rem;
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-normal);
    color: var(--color-neutral-grey-3);
  }
}

.email_auth_wrap {
  width: 100%;
  margin-bottom: 40px;

  .email_title_wrap {
    height: 1.25rem;
    margin-bottom: 12px;

    & span {
      display: block;
      width: 100%;
      height: 100%;
      font-size: 1rem;
      font-weight: var(--font-weight-semibold);
      line-height: 125%;
      color: var(--color-neutral-black-1);

      width: 100%;
    }
  }

  .email_form_wrap {
    width: 100%;

    & input {
      width: 100%;
      height: 100%;
      border: 1px solid var(--color-neutral-l-grey-2);
      border-radius: 0.75rem;
      font-size: 1rem;
      font-weight: 300;
      color: var(--color-neutral-black-1);
      padding: 1rem 1.375rem;

      &:focus {
        border: 1px solid var(--color-primary);
      }

      &:disabled {
        font-size: 1rem;
        font-weight: 300;
        color: var(--color-neutral-grey-3);
        border: 1px solid var(--color-neutral-l-grey-2);
        border-radius: 0.75rem;
        background: var(--color-neutral-back);
      }
    }

    .email_input {
      height: 3.25rem;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0.625rem;
      margin-bottom: 0.625rem;
    }

    .auth_input_wrap {
      & span {
        color: var(--color-action-error);
      }
    }
  }
}

.button_wrap {
  width: 100%;
}
