.wrapper {
  width: 100%;
  max-width: 75rem;
  padding-inline: 1.25rem;
  margin-top: 15rem;
}

.title_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;

  & h1 {
    font-size: 1.75rem;
    font-weight: var(--font-weight-bold);
    line-height: 100%;
    color: var(--color-neutral-black-1);
    padding-bottom: 1rem;
  }

  & p {
    font-size: 1.125rem;
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-normal);
    color: var(--color-neutral-grey-2);
    padding-bottom: 2.5rem;
  }
}

.toggle_wrap {
  margin-bottom: 3.75rem;

  & ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;

    & li {
    }
  }
}

.my_inquire_wrap {
  margin-bottom: 6.25rem;

  & > ul {
    & > li {
      border-bottom: 1px solid var(--color-neutral-l-grey-2);
      padding: 0 0 4.375rem 0;
      margin-bottom: 4.375rem;

      &:first-child {
        padding-top: 0rem;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.inquire_state {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.125rem;

  & span {
    font-size: 0.9375rem;
    font-weight: var(--font-weight-medium);
    line-height: 135%;
    color: var(--color-neutral-grey-2);

    & span.bar {
      display: inline-block;
      height: 0.75rem;
      width: 1px;
      background: var(--color-neutral-grey-2);
      margin: 0 0.625rem;

      & + span:last-child.done {
        color: var(--color-primary);
      }
      & + span:last-child.pending {
        color: var(--color-neutral-grey-2);
      }
    }
  }

  & span:last-child {
    font-weight: var(--font-weight-regular);
    line-height: 125%;
    color: var(--color-neutral-grey-2);
  }
}

.my_inquire_item {
}

.my_inquire {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.625rem;
  // margin-bottom: 40px;
}

.inquire_info {
  width: 100%;

  & .inquire_title {
    margin-bottom: 0.75rem;

    & span {
      font-size: 1.125rem;
      font-weight: var(--font-weight-medium);
      line-height: 135%;
      color: var(--color-neutral-black-2);
    }
  }

  & .inquire_desc {
    & p {
      font-size: 1rem;
      font-weight: var(--font-weight-regular);
      line-height: 135%;
      color: var(--color-neutral-black-2);
    }
  }

  & .inquire_img {
    margin-top: 1.875rem;
    & ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.375rem;

      & li {
        width: 5.625rem;
        height: 5.625rem;
        overflow: hidden;
        border-radius: 0.75rem;

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.my_answer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
  background: #edf0f6;
  border-radius: 0.75rem;
  padding: 1.5rem;
  margin-top: 2.5rem;

  & p {
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    line-height: 135%;
    color: var(--color-neutral-black-2);
  }
  & span {
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    line-height: 135%;
    color: var(--color-neutral-black-2);

    & span {
      margin-right: 0.5625rem;

      &:last-child {
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 135%;
        color: var(--color-neutral-grey-2);
        margin: 0;
      }
    }
  }
}

.none_item_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13.125rem 0;
  margin-bottom: 100px;

  & span {
    font-size: 1.25rem;
    font-weight: var(--font-weight-medium);
    line-height: 100%;
    color: var(--color-neutral-black-1);
  }
}
