.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem 1.875rem;
  background-color: var(--color-neutral-white, #ffffff);
  border-radius: 0.75rem;
}

.header {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-neutral-l-grey-2, #dae1e7);
}

.title {
  font-family: 'Pretendard', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-neutral-black-1, #1e2022);
  line-height: 1.25;
  letter-spacing: -0.4px;
  margin: 0;
}

.product_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  > div {
    padding: 0;
  }
}
