@use '@/styles/mixin.scss' as *;

.card_container {
  background: var(--color-neutral-white);
  border-radius: 1.25rem;
  padding: 0.5rem 0.625rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  min-width: 0;
  height: 26.0625rem;
  box-sizing: border-box;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    .image_wrapper {
      height: 7.0625rem;
    }

    .description {
      opacity: 1;
      max-height: 7.0625rem;
    }
  }
}

.image_wrapper {
  height: 14.125rem;
  border-radius: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  overflow: hidden;
  transition: height 0.3s ease;
}

.card_image {
  border-radius: 1rem;
  object-fit: cover;
}

.gradient_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1rem;
  background: linear-gradient(
    to bottom,
    rgba(187, 201, 212, 0) 55.973%,
    rgba(187, 201, 212, 0.64) 93.363%
  );
  pointer-events: none;
}

.rating_badge {
  position: relative;
  z-index: 1;
  backdrop-filter: blur(0.625rem);
  background: rgba(255, 255, 255, 0.2);
  border: 0.0625rem solid white;
  border-radius: 18.75rem;
  padding: 0.625rem 1.125rem;
  display: flex;
  align-items: center;
  gap: 0.1875rem;
  align-self: flex-start;
}

.star_icon {
  width: 0.875rem;
  height: 0.875rem;
  background-size: contain;
  flex-shrink: 0;
}

.rating_text {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 140%;

  color: white;
  letter-spacing: -0.009375rem;
  white-space: nowrap;
}

.contents_bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 0 0.5rem;
}

.content_info {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 130%;

  color: var(--color-neutral-black-2);
  margin-top: 0.875rem;
  margin-bottom: 1.75rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.description {
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
  line-height: 130%;
  letter-spacing: -0.02rem;
  color: #727983;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  text-overflow: ellipsis;
}

.author_price_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  font-size: 1.25rem;
  font-weight: var(--font-weight-semibold);
  color: var(--color-neutral-black-2);
  letter-spacing: -0.00625rem;
  line-height: 1.3;
  text-align: right;
  flex-shrink: 0;
}
