.wrapper {
  width: 100%;
  max-width: 35rem;
  min-width: 35rem;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 13.75rem;
}

.title_wrap {
  text-align: center;
  margin-bottom: 5rem;

  & .title {
    font-size: 1.75rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-neutral-black-1);
    margin-bottom: 1rem;
  }

  & .description {
    font-size: 1.125rem;
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-normal);
    color: var(--color-neutral-grey-3);
  }
}

.phone_auth_wrap {
  width: 100%;

  .phone_title_wrap {
    height: 1.25rem;
    margin-bottom: 0.75rem;

    & span {
      display: block;
      width: 100%;
      height: 100%;
      font-size: 1rem;
      font-weight: var(--font-weight-semibold);
      line-height: 125%;
      color: var(--color-neutral-black-1);

      width: 100%;
    }
  }

  .phone_form_wrap {
    width: 100%;

    & input {
      width: 100%;
      height: 100%;
      border: 1px solid var(--color-neutral-l-grey-2);
      border-radius: 0.75rem;
      font-size: 1rem;
      font-weight: 300;
      color: var(--color-neutral-black-1);
      padding: 1rem 1.375rem;

      &:focus {
        border: 1px solid var(--color-primary);
      }

      &.error {
        border: 1px solid var(--color-action-error);
      }

      &.error:focus {
        border: 1px solid var(--color-action-error);
      }

      &:disabled {
        font-size: 1rem;
        font-weight: 300;
        color: var(--color-neutral-grey-3);
        border: 1px solid var(--color-neutral-l-grey-2);
        border-radius: 0.75rem;
        background: var(--color-neutral-back);
      }
    }

    .phone_input {
      height: 3.25rem;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0.625rem;
      margin-bottom: 0.75rem;

      & button {
        width: 8.3125rem !important;
        height: 100%;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: var(--font-weight-medium);
        line-height: 145%;
        color: var(--color-primary);
        border: 1px solid var(--color-action-success);
        border-radius: 0.75rem;

        &:not(:disabled) {
          color: var(--color-action-success);
        }

        &:disabled {
          color: var(--color-neutral-grey-3);
          background: var(--color-neutral-back);
          border: 1px solid var(--color-neutral-l-grey-2);
        }
      }
    }
  }
}

.auth_input_wrap {
  position: relative;

  & span {
    display: block;
    font-size: 0.875rem;
    font-weight: 300;
    color: var(--color-neutral-grey-2);
    margin-top: 0.625rem;

    &.error {
      color: var(--color-action-error);
    }
  }

  & input + svg {
    position: absolute;
    top: 1.6875rem;
    right: 1.375rem;
    transform: translateY(-13px);
    color: var(--color-action-success);
  }
}

.phone_button_wrap {
  margin-top: 2.5rem;
}
