.wrapper {
  width: 100%;
  max-width: 120rem;
  height: 100%;
  padding: 0 1.25rem;
  background: linear-gradient(to bottom, transparent 72%, #b8e0e547 100%);
  padding-top: 6.25rem;
}
.con_box {
  max-width: 47.5rem;
  margin: 0 auto;
}

.title {
  margin-block: 5rem 0.75rem;
  font-size: 1.375rem;
  font-weight: var(--font-weight-semibold);
  color: var(--color-neutral-black-1);
}
.subtitle {
  display: block;
  padding-block: 3rem 1.25rem;
  font-size: 1.25rem;
  font-weight: var(--font-weight-semibold);
  color: var(--color-neutral-black-1);
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info_tooltip_wrap {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding-block: 3rem 1.25rem;

  .subtitle {
    padding-block: 0;
  }
}
.info_btn {
  display: flex;
  align-items: center;
  margin-left: 0.3125rem;
}
.info_tooltip {
  .tip_title {
    display: block;
    font-weight: var(--font-weight-semibold);
    padding-bottom: 0.625rem;
    font-size: 0.875rem;
    color: var(--color-neutral-black-1);
  }
  .info_ctt {
    padding-top: 0.75rem;
    letter-spacing: -0.4px;
  }
}

.status_tag {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  font-size: 0.9375rem;
  font-weight: var(--font-weight-medium);
}
.blue {
  background: #ecf7fb;
  color: var(--color-primary);
}
.gray {
  background: #f5f6f8;
  color: var(--color-neutral-grey-2);
}
.yellow {
  background: #fffbee;
  color: #fbac2d;
}
.red {
  background: #fff2f0;
  color: #e53835;
}

.content_info_wrap {
  margin-bottom: 0.75rem;
  border: 1px solid #dae1e7;
  border-radius: 0.75rem;
  padding: 1.5rem;
  display: flex;
  gap: 1.5rem;
}

.img_wrap {
  flex-shrink: 0;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 0.5rem;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.content_info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.content_title {
  font-size: 1.125rem;
  font-weight: var(--font-weight-medium);
  color: var(--color-neutral-black-1);
  padding-block: 0.75rem;
}

.content_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.content_price {
  font-size: 1.125rem;
  font-weight: var(--font-weight-semibold);
  color: var(--color-neutral-black-1);
}

.table_wrap {
  width: 100%;
  overflow: auto;
}

.detail_table {
  min-width: 37.5rem;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 0.75rem;
  border: 1px solid #c9d0da;
  overflow: hidden;

  th,
  td {
    height: 3.5rem;
    padding: 0.625rem 1.5rem;
    font-size: 1.125rem;
    color: var(--color-neutral-black-2);
    font-weight: var(--font-weight-regular);
  }

  th {
    background-color: #f5f6f8;
    text-align: left;
    border-right: 1px solid #c9d0da;
  }

  tr:not(:last-child) th,
  tr:not(:last-child) td {
    border-bottom: 1px solid #c9d0da;
  }
}

.info_list {
  padding-block: 1.5rem 5.75rem;
  li {
    position: relative;
    padding-left: 1.5rem;
    color: #727983;
    font-size: 1rem;

    &::before {
      content: '';
      position: absolute;
      left: 0.625rem;
      top: 0.625rem;
      width: 0.1875rem;
      height: 0.1875rem;
      border-radius: 100%;
      background-color: #727983;
    }
  }
}
