.modal_content {
  max-width: 59.625rem !important;
  background: var(--color-neutral-white);
  border-radius: 1.5rem;
  padding: 2.5rem 0 !important;
}

.modal_body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.modal_title_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5625rem;

  & h2 {
    font-size: 1.375rem;
    font-weight: var(--font-weight-bold);
    line-height: 100%;
    color: var(--color-neutral-black-1);
    letter-spacing: -0.2%;
  }

  & p {
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    line-height: 135%;
    color: var(--color-neutral-grey-1);

    & a {
      display: inline;
      color: var(--color-primary);
      margin-left: 0.5rem;
    }
  }
}

.info_wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.5rem 1.25rem;
  border: 0.0625rem solid var(--color-neutral-l-grey-1);
  border-radius: 0.75rem;

  .item_img {
    margin-right: 1.5rem;
    & img {
      width: 6.25rem;
      height: 6.25rem;
      border-radius: 0.5rem;
      object-fit: cover;
    }
  }

  .item_info {
    width: 100%;
    height: 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }

  .item_title {
    font-size: 1.125rem;
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-normal);
    color: var(--color-neutral-black-1);
  }

  .item_seller {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & img {
      width: 1.375rem;
      height: 1.375rem;
      object-fit: cover;
      border-radius: 6.25rem;
      margin-right: 0.375rem;
    }

    & span {
      font-size: 0.9375rem;
      font-weight: var(--font-weight-regular);
      color: #53585e;
    }
  }
}

.section_title {
  margin-bottom: 1.25rem;

  & span {
    font-size: 1.125rem;
    font-weight: var(--font-weight-semibold);
    line-height: 100%;
    color: var(--color-neutral-black-1);

    & + p {
      margin-top: 0.63rem;
      font-size: 1rem;
      font-weight: var(--font-weight-regular);
      line-height: 135%;
      color: var(--color-neutral-grey-1);
      letter-spacing: -0.02rem;
    }
  }
}

.write_wrap {
  width: 100%;
  max-height: calc(100vh - 20rem);
  padding-inline: 2.5rem;
  overflow-y: auto;

  .editor_wrap {
    height: 14.875rem;
    height: 265px;
    margin-bottom: 1.25rem;

    & div {
      display: block;
      & textarea {
        // min-height: 6.125rem;
        height: 12.0625rem;
      }
    }
  }
  .editor_wrap.error_border {
    border-radius: 0.75rem;

    & div {
      border: 0.0625rem solid var(--color-action-error);
    }
  }
  .error_text {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: var(--line-height-normal);
    color: var(--color-action-error);
  }
}

.attach_wrap {
  margin-bottom: 1.875rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  & .attach_input {
    margin-right: 0.25rem;

    & input {
      display: none;
    }

    & label {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      gap: 0.12rem;
      width: 5.64rem;
      height: 5.64rem;
      border-radius: 0.75rem;
      border: 0.06rem solid var(--color-neutral-l-grey-1);
      cursor: pointer;
      padding-top: 1rem;

      & img {
        width: 2.25rem;
        height: 2.25rem;
      }

      & span {
        font-size: 0.9375rem;
        font-weight: var(--font-weight-regular);
        line-height: 135%;
        color: var(--color-neutral-grey-1);
      }
    }
  }

  .preview_list {
    display: flex;
    gap: 0.375rem;
    flex-wrap: wrap;
  }

  .preview_item {
    position: relative;
    width: 5.64rem;
    height: 5.64rem;
    border-radius: 0.75rem;
    overflow: hidden;
    border: 0.06rem solid var(--color-neutral-l-grey-1);

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .remove_btn {
      position: absolute;
      top: 0.25rem;
      right: 0.25rem;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      color: var(--color-neutral-white);
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.25rem;
      line-height: 1;

      & svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}

.file_desc_wrap {
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
  line-height: 135%;
  color: var(--color-neutral-grey-3);

  ul li {
    position: relative;
    padding-left: 1.5rem;
    color: #727983;
    font-size: 1rem;

    &::before {
      content: '';
      position: absolute;
      left: 0.625rem;
      top: 0.625rem;
      width: 0.1875rem;
      height: 0.1875rem;
      border-radius: 100%;
      background-color: #727983;
    }
  }
}

.button_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.63rem;

  & button {
    width: 12.1875rem !important;
    height: 3.75rem !important;
  }
}

.inquire_title_wrap {
  margin-bottom: 1.875rem;

  & input {
    width: 100%;
    border: 1px solid var(--color-neutral-l-grey-1);
    border-radius: 0.75rem;
    padding: 1.125rem 1.5rem;
    &.error_border {
      border-color: var(--color-action-error);
    }
  }
  .error_text {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: var(--line-height-normal);
    color: var(--color-action-error);
  }
}

.select_wrap {
  width: 100%;
  margin-bottom: 3rem;

  & > div {
    width: 100%;
  }

  & > div > button {
    width: 100%;

    & p {
      width: 18.75rem;
      height: 2rem;
      line-height: 2rem;
    }
  }
  & .error_border > button {
    border: 0.0625rem solid var(--color-action-error);
  }
  .error_text {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: var(--line-height-normal);
    color: var(--color-action-error);
  }
}
