.wrapper {
  width: 100%;
  max-width: 92.5rem;
  margin-top: 11.25rem;
  padding-inline: 1.25rem;
}
.title {
  font-weight: var(--font-weight-semibold);
  font-size: 1.375rem;
  color: var(--color-neutral-black-1);
}
.description {
  margin-top: 0.75rem;
  font-size: 1.125rem;
  color: var(--color-neutral-grey-3);
}
.info_txt {
}
