@use '@/styles/mixin.scss' as *;
.visual_wrap {
  img {
    width: auto;
    max-width: 100%;
  }
}
.visual_slide {
  padding-left: 6.875rem;
  padding-block: 5rem;

  // s:: 공통
  .shadow_box {
    width: 29.5rem;
    height: auto;
    border-radius: 2.25rem;
    margin-block: 2.625rem;
    margin-left: 2rem;
    box-shadow: 0 1rem 2rem 0 var(--shadow-color-medium);
  }
  .ctt_tit {
    @include headline(4);
    display: flex;
    gap: 0.375rem;
    padding-bottom: 1.75rem;
  }
  // e::

  .tag_ani {
    width: 68.3%;
    max-width: 66.5625rem;
    height: 33rem;
    margin-block: 2.625rem;
    background: linear-gradient(
        180deg,
        #e5f0f2 0%,
        rgba(229, 240, 242, 0) 52.67%
      ),
      linear-gradient(0deg, #e1f0f5 0%, #e1f0f5 100%), #d0e9ff;
    box-shadow: 0 1rem 2rem 0 var(--shadow-color-medium);
    border-radius: 2.25rem;
  }

  .hot_box {
    background: linear-gradient(180deg, #98c7ce 0%, #65a1aa 100%);
    padding: 3rem 3.125rem 2.625rem;

    .ctt_tit {
      color: var(--color-neutral-white);
    }

    .hot_list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 0.625rem;

      a {
        display: flex;
        align-items: center;
        gap: 0.875rem;
        background-color: var(--color-neutral-white);
        padding: 0.625rem 1.25rem 0.625rem 0.75rem;
        border-radius: 1rem;
        .book_img {
          display: flex;
          width: 6.125rem;
          height: 6.125rem;
          border-radius: 0.5rem;
          overflow: hidden;
          img {
            max-height: 100%;
            object-fit: cover;
          }
        }
        .txt_box {
          display: flex;
          flex-direction: column;
          max-width: calc(100% - 7rem);
          text-align: left;
          .book_name {
            font-size: 0.9375rem;
            color: var(--color-neutral-black-2);
            font-weight: var(--font-weight-medium);
            line-height: 125%;
            padding-block: 0.375rem 0.625rem;
          }
          .price_box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .profile {
              display: flex;
              align-items: center;
              gap: 0.25rem;
              img {
                border-radius: 100%;
                & + span {
                  font-size: 0.75rem;
                  font-weight: var(--font-weight-regular);
                  color: var(--color-neutral-grey-1);
                  line-height: 100%;
                }
              }
            }
            .price {
              font-size: 0.9375rem;
              line-height: 130%;
              color: var(--color-neutral-black-1);
              font-weight: var(--font-weight-semibold);
            }
          }
        }
      }
    }
  }

  .recommend_box {
    background-color: #d7eaed;
    padding: 3rem 3.125rem 4.75rem;
    margin-right: 2rem;

    .ctt_tit {
      color: var(--color-neutral-black-2);
    }
    .rcm_slide {
      background: var(--color-neutral-white);
      border-radius: 1.25rem;
      padding: 0.75rem 1.25rem 1.25rem;
    }
    .image_wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 9.75rem;
      padding: 1rem;
      border-radius: 1rem;
      overflow: hidden;
      margin-top: 0.5rem;
      .card_image {
        object-fit: cover;
      }
      .rating_badge {
        backdrop-filter: blur(0.625rem);
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid white;
        border-radius: 18.75rem;
        padding: 0.625rem 1.125rem;
        display: flex;
        align-items: center;
        gap: 0.1875rem;
        align-self: flex-start;
      }

      .star_icon {
        width: 0.875rem;
        height: 0.875rem;
        background-size: contain;
      }

      .rating_text {
        @include text(4, regular);
        color: var(--color-neutral-white);
        white-space: nowrap;
        line-height: 1.2;
      }
    }

    .contents_bottom {
      text-align: left;
      .title {
        @include text(2, medium);
        color: var(--color-neutral-black-1);
        margin-block: 0.875rem 0.75rem;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .description {
        font-size: 1rem;
        font-weight: var(--font-weight-regular);
        line-height: 1.3;
        margin-bottom: 0.75rem;
        color: #53585e;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        height: 2.625rem;
        line-clamp: 2;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .price {
        @include text(1, medium);
        font-weight: var(--font-weight-semibold);
        color: var(--color-neutral-black-2);
        line-height: 1.3;
      }
    }
  }
}

.search_box {
  max-width: 106.25rem;
  margin: 0 auto;
  border-radius: 3rem;
  padding-block: 8.75rem 10rem;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.55) 0%,
    rgba(255, 255, 255, 0) 89.26%
  );
  .ctt_subtit {
    color: var(--color-neutral-black-1);
    font-size: 3rem;
    font-weight: var(--font-weight-bold);
  }
  .inp_box {
    max-width: 60rem;
    margin: 8.125rem auto 5rem;
    position: relative;
    box-shadow: 0 1rem 2rem 0 rgba(171, 190, 209, 0.3);
    border-radius: 18.75rem;
    overflow: hidden;

    .ic_search {
      position: absolute;
      left: 1.75rem;
      top: calc(50% - 0.75rem);
    }
    input {
      background-color: var(--color-neutral-white);
      height: 4.75rem;
      width: 100%;
      padding-inline: 4rem 15rem;
    }
    button {
      position: absolute;
      right: 0.625rem;
      top: calc(50% - 1.9375rem);
    }
  }
  .search_tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.75rem;
    justify-content: center;
    li {
      display: flex;
      align-items: flex-end;
      gap: 0.25rem;
      background-color: var(--color-neutral-white);
      padding: 0.5625rem 1.25rem 0.5625rem 1.125rem;
      border-radius: 1.375rem;
      color: var(--color-neutral-black-2);
      @include text(3, regular);
      img {
        width: 1.5rem;
      }
    }
  }
}

@media (max-width: 1700px) {
  .visual_slide {
    padding-left: 0.625rem;
  }
  .search_box {
    max-width: calc(100% - 1.25rem);
  }
}
