.modal_content {
  padding: 2.5rem;
  background-color: #fff;
  border-radius: 1.5rem;
}
.modal_title {
  width: 100%;
  text-align: center;
  font-size: 1.375rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-neutral-black-1);
}
.modal_body {
  margin-bottom: 2.5rem;
}
.label {
  display: block;
  font-size: 1rem;
  font-weight: var(--font-weight-semibold);
  color: var(--color-neutral-black-1);
}
.input_group {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 0.75rem;
  button {
    min-width: 8.3125rem;
    border-radius: 0.75rem;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
  }
}
.resend_btn {
  color: var(--color-action-success);
  border: 1px solid var(--color-action-success);
}
