.overlay {
  position: fixed;
  inset: 0;
  z-index: 200;
  background-color: rgba(79, 79, 85, 0.3);
  animation: fade-in 0.15s ease-out;

  &[data-state='closed'] {
    animation: fade-out 0.15s ease-in;
  }
}

.content {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 250;
  width: 100%;
  max-width: 32rem;
  overflow: auto;
  transform: translate(-50%, -50%);
  padding: 2.5rem;
  border-radius: 1.5rem;
  box-shadow: var(--shadow-2xl);
  animation: content-show 0.15s ease-out;

  &[data-state='closed'] {
    animation: content-hide 0.15s ease-in;
  }
}

.close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  border-radius: 0.25rem;
  opacity: 0.7;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }

  &:focus {
    outline: 0.125rem solid var(--primary);
    outline-offset: 0.125rem;
  }

  &:disabled {
    pointer-events: none;
  }
}

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  gap: 0.375rem;
  padding-bottom: 1.75rem;

  font-size: 1.375rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.0275rem;
  color: var(--color-neutral-black-1);

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background: url('../../../assets/images/modal/pop_tit_line.png') center top;
  }
}

.header_border_hidden {
  padding-bottom: 0;

  &::after {
    display: none;
  }
}

.header_close {
  cursor: pointer;
}

.footer {
  display: flex;
}

.title {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.025em;
}

.title_hidden {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.description {
  font-size: 0.875rem;
  color: var(--muted-foreground);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes content-show {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes content-hide {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
}
