@use '@/styles/mixin.scss' as *;

.wrapper {
  margin-top: 2rem;
  display: flex;
  gap: 0.5rem;
  padding: 0 1.25rem;
}

.all_filter_button {
  @include text(2, medium);

  display: flex;
  width: fit-content;
  white-space: nowrap;
  gap: 0.375rem;
  padding: 0.75rem 1.5rem 0.75rem 1.25rem;
  border: 0.0625rem solid var(--color-neutral-l-grey-2);
  background-color: var(--color-neutral-white);
  border-radius: 6.25rem;
  cursor: pointer;
  transition: all 0.2s ease;
  color: var(--color-neutral-black-2);
}

// 선택된 필터 표시 영역
.applied_filters {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.875rem 1.25rem 0;
}

.filter_items {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  align-items: center;
}

.filter_tag {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--color-primary-tint-1);
  color: var(--color-primary-shade);
  padding: 0.35rem 0.75rem;
  border-radius: 6.25rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -0.0175rem;
}

.clear_all_button {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border: none;
  background: none;
  color: var(--color-neutral-grey-2);
  font-size: 0.9375rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  transition: color 0.2s ease, background-color 0.2s ease;
  white-space: nowrap;
}
