.container {
  width: 100%;
  padding: 3.75rem 1.25rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title_wrapper {
  display: flex;
  align-items: center;
  gap: 0.125rem;
  font-size: 1.125rem;
  line-height: 1.25;
  letter-spacing: -0.0225rem;

  .title_bold {
    font-weight: 600;
    color: var(--color-neutral-black-2);
  }

  .title_text {
    font-weight: 400;
    color: var(--color-neutral-grey-2);
  }
}

.sort_trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.25rem 0.5rem;

  .sort_label {
    font-size: 0.9375rem;
    font-weight: 400;
    color: var(--color-neutral-grey-2);
    line-height: 1.25;
    letter-spacing: -0.01875rem;
    white-space: nowrap;
    margin-right: -0.06rem;
  }

  .sort_icon {
    color: var(--color-neutral-grey-2);
  }
}

.grid {
  display: grid;
  gap: 1.5rem;
  width: 100%;

  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1281px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.loading_state {
  padding: 3.75rem 1.25rem;
  text-align: center;
  font-size: 1rem;
  color: var(--color-neutral-grey-2);
}

.pagination_wrapper {
  margin-top: 3rem;
  width: 100%;
}
