.wrapper {
  width: 100%;
  max-width: 35rem;
  min-width: 35rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 7.5rem;
}

.title_wrap {
  text-align: center;
  margin-bottom: 5rem;

  & .title {
    font-size: 1.75rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-neutral-black-1);
    margin-bottom: 1.25rem;
  }

  & .description {
    font-size: 1.125rem;
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-normal);
    color: var(--color-neutral-grey-2);
  }
}

.reset_info {
  width: 100%;
  background: var(--color-neutral-back);
  padding: 0.75rem;
  margin-bottom: 1.75rem;

  font-size: 0.875rem;
  font-weight: var(--font-weight-medium);
  line-height: 135%;
  color: var(--color-neutral-grey-2);

  & ul li {
    position: relative;
    list-style-type: disc;
    left: 1.375rem;
  }
}

.reset_password_form {
  width: 100%;
  margin-bottom: 2.5rem;

  .input_group {
    width: 100%;
    margin-bottom: 1.875rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .input_title {
    display: block;
    margin-bottom: 0.75rem;
    font-size: 1rem;
    font-weight: var(--font-weight-semibold);
    color: var(--color-neutral-black-1);
  }

  .input_wrap {
    position: relative;
    height: 3.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .input_name {
    width: 100%;
    border: 1px solid var(--color-neutral-l-grey-2);
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-neutral-black-1);
    padding: 1rem 1.375rem;

    &:focus {
      border: 1px solid var(--color-primary);
    }

    &:focus.error {
      border: 1px solid var(--color-action-error);
    }

    & + button {
      width: 8.3125rem;
      height: 100%;
      border: 1px solid var(--color-neutral-l-grey-2);
      border-radius: 0.75rem;
      margin-left: 10px;
      flex-shrink: 0;
      font-size: 1rem;
      font-weight: var(--font-weight-regular);
      color: var(--color-neutral-grey-3);
    }

    & + svg {
      width: 1.25rem;
      height: 1.25rem;
      position: absolute;
      top: 50%;
      right: 1.375rem;
      transform: translateY(-50%);
      cursor: pointer;
      color: var(--color-neutral-grey-3);
    }
  }

  .input_desc_wrap {
    margin-top: 0.625rem;
  }

  .input_sub_wrap {
    margin-top: 0.75rem;
  }
}

.input_sub_wrap,
.input_desc_wrap {
  & span {
    font-size: 0.875rem;
    font-weight: 300;
    color: var(--color-neutral-grey-2);
  }

  & span.warn {
    color: var(--color-action-error);
  }

  & span.success {
    display: flex;
    align-items: center;
    gap: 0.375rem;
    color: var(--color-action-success);

    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

.password_btn_wrap {
  width: 100%;
}
