.wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 13.75rem;
}

.title_wrap {
  text-align: center;
  margin-bottom: 5rem;

  & .title {
    font-size: 1.75rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-neutral-black-1);
    margin-bottom: 1rem;
  }

  & .description {
    font-size: 1.125rem;
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-tight); // 135 없음
    color: var(--color-neutral-grey-3);
  }
}

.type_wrap {
  width: 100%;
  max-width: 35rem;

  .tabs_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 2.5rem;

    .tab {
      width: 100%;
      height: 6.4375rem;
      cursor: pointer;
      border: 0.0625rem solid var(--color-neutral-l-grey-2);
      border-radius: 0.75rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      padding: 1.25rem;

      .tab_name {
        display: block;
        font-size: 1.375rem;
        font-weight: var(--font-weight-semibold);
        line-height: var(--line-height-relaxed);
        color: var(--color-neutral-grey-2);
        margin-bottom: 0.375rem;
      }

      .tab_description {
        display: block;
        font-size: 1rem;
        font-weight: var(--font-weight-regular);
        line-height: var(--line-height-relaxed);
        color: var(--color-neutral-grey-3);
      }
    }

    .tab.on {
      border: 0.0625rem solid var(--color-primary);

      .tab_name {
        color: var(--color-neutral-black-2);
      }
    }
  }
}

.agree_wrap {
  margin-bottom: 3.75rem;

  .agree_all {
    border: 0.0625rem solid var(--color-neutral-l-grey-2);
    border-radius: 0.75rem;
    padding: 1rem 1.375rem;
    margin-bottom: 1.875rem;
  }
}

.agree_chk {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  svg {
    margin-right: 0.5rem;
  }

  .agree_input {
    border-radius: 0.5rem;
    display: none;

    & + .agree_label {
      & svg {
        display: block;
        & + svg {
          display: none;
        }
      }
    }

    &:checked + .agree_label {
      & svg {
        display: none;
        & + svg {
          display: block;
        }
      }
    }
  }

  .agree_label {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 1.125rem;
    font-weight: var(--font-weight-regular);
    line-height: 1.6875rem;
    color: var(--color-neutral-black-2);
  }
}

.agree_group {
  height: 4.375rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 0rem 0.375rem 0 0.125rem;
}

.agree_seperatetion {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .more {
    font-size: 0.9375rem;
    font-weight: var(--font-weight-regular);
    color: var(--color-neutral-grey-3);
    text-decoration: underline;
  }
}
