.radio_label {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  cursor: pointer;

  &.disabled {
    cursor: not-allowed;
    svg {
      color: var(--color-neutral-l-grey-1);
    }
    span {
      color: var(--color-neutral-grey-3);
    }
  }
}

.hidden_input {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.label_text {
  font-size: 1rem;
  color: var(--color-neutral-black-2);
  letter-spacing: -0.32px;
  line-height: 1.35;
}
