.prefix {
  display: flex;
  flex-direction: column;
  width: 18.75rem;
  .profile {
    width: 100%;
    padding: 1.75rem;
    background-color: var(--bg-primary);
    box-shadow: 0px 4px 10px 12px rgba(171, 190, 209, 0.3);
    border-radius: 16px;
    .top {
      display: flex;
      align-items: center;
      padding-bottom: 1.5rem;
      .profile_img {
        position: relative;
        width: 3.75rem;
        height: 3.75rem;
        border-radius: 50%;
        overflow: hidden;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .infos {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        gap: 0.4375rem;
        font-family: 'Pretendard', sans-serif;
        font-weight: var(--font-weight-semibold);
        color: var(--color-neutral-black-2);

        .tag {
          background-color: #ecf7fb;
          padding: 0.1875rem 0.5rem;
          border-radius: 0.5rem;
          font-size: 0.875rem;
          color: var(--color-primary);
          font-weight: var(--font-weight-medium);
        }
        :not(.tag) {
          font-weight: var(--font-weight-semibold);
        }
      }
    }
    .profile_info {
      border-top: 0.0625rem solid var(--color-neutral-l-grey-2);
      padding-top: 1.5rem;
      ul {
        li {
          display: flex;
          .dt {
            flex: 1 1 auto;
            font-size: 0.9375rem;
            line-height: 125%;
            color: var(--color-neutral-grey-2);
          }
          .dd {
            font-size: 0.9375rem;
            line-height: 125%;
            color: var(--color-neutral-black-2);
          }
        }
        li ~ li {
          padding-top: 0.5rem;
        }
      }
    }
  }
  .in_nav {
    padding: 2.5rem 1.25rem 2.5rem 1.75rem;
    margin-top: 1.5rem;
    ul {
      li {
        font-family: 'Pretendard', sans-serif;
        font-weight: var(--font-weight-semibold);
        line-height: 125%;
        font-size: 1.25rem;
        letter-spacing: -0.02em;
        color: var(--color-neutral-black-2);
        margin-bottom: 1.25rem;
        a {
          position: relative;
          font-weight: var(--font-weight-medium);
          color: var(--color-neutral-grey-2);
          font-size: 1.125rem;
          svg {
            position: absolute;
            right: 0;
            transform: rotate(180deg);
          }
          &.active {
            color: var(--color-neutral-black-2);
            text-decoration: underline;
            text-decoration-color: var(--color-primary);
            text-underline-offset: 0.25rem;
            text-decoration-thickness: 0.125rem;
          }
        }
        &:first-child {
          margin-bottom: 1.75rem;
        }
      }
      + ul {
        margin-top: 3.75rem;
      }
    }
  }
}
