// 문의 상세 페이지

.inquiry_detail_wrap {
  margin-bottom: 7rem;
}

.my_inquire_wrap {
  width: 100%;
  margin-bottom: 1.25rem;
}

.inquire_item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 3rem;
}

.inquire_state_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;

  & .inquire_state {
    height: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & span {
      font-size: 0.9375rem;
      font-weight: var(--font-weight-medium);
      line-height: 135%;
      color: var(--color-neutral-grey-2);
    }

    & span.state_success {
      color: var(--color-action-success);
    }

    & svg {
      height: 1.25rem;
      color: var(--color-neutral-grey-2);
    }
  }

  & .inquire_date {
    & span {
      font-size: 1rem;
      font-weight: var(--font-weight-regular);
      line-height: 125%;
      color: var(--color-neutral-grey-2);
    }
  }
}

.inquire_card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--color-neutral-white);
  border-radius: 0.75rem;
  padding: 1.5rem 1.875rem;

  & .inquire_img {
    margin-right: 2.5rem;

    img {
      border-radius: 0.5rem;
      width: 7.5rem;
      height: 7.5rem;
      object-fit: cover;
    }
  }

  & .inquire_info_wrap {
    height: 6.125rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.75rem;

    & .inquire_tags_wrap {
    }

    & .inquire_title {
      font-size: 1.125rem;
      font-weight: var(--font-weight-medium);
      line-height: var(--line-height-normal);
      color: var(--color-neutral-black-1);
    }
  }
}

.inquire_desc {
  margin-bottom: 2.5rem;

  & .inquire_text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1.5rem;

    & svg {
      flex-shrink: 0;
      margin-right: 0.625rem;
    }

    & p {
      font-size: 1.125rem;
      font-weight: var(--font-weight-medium);
      line-height: 135%;
      color: var(--color-neutral-black-2);
    }
  }
}

.inquire_img_wrap {
  & ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.75rem;

    & li {
      & img {
        width: 5.625rem;
        height: 5rem;
        border-radius: 0.5rem;
        object-fit: cover;
      }
    }
  }
}

.answer_wrap {
  border-radius: 0.75rem;
  background: #edf0f6;
  padding: 1.5rem;

  & .answer {
    margin-bottom: 1.5rem;
  }

  & .answer_date_wrap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5625rem;

    & span {
      font-size: 1rem;
      font-weight: var(--font-weight-medium);
      line-height: 135%;
      color: var(--color-neutral-black-2);
    }

    & span + span {
      font-size: 0.875rem;
      font-weight: 300;
      line-height: 135%;
      color: var(--color-neutral-grey-2);
    }
  }
}

.back_button_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.75rem;

  & button {
    width: 23.5rem !important;
    height: 3.75rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;

    & span {
      font-size: 1.25rem;
      font-weight: var(--font-weight-semibold);
      line-height: 100%;
      color: var(--color-neutral-black-1);
    }

    & svg {
      color: var(--color-neutral-grey-1);
    }
  }
}
