.wrapper {
  width: 100%;
  max-width: 92.5rem;
  height: 100%;
  margin-top: 11.25rem;
  padding-inline: 1.25rem;
}
.title_wrap {
  & .title {
    font-size: 1.375rem;
    font-weight: var(--font-weight-semibold);
    color: var(--color-neutral-black-1);
  }
}
.page_content {
  display: flex;
  align-items: flex-start;
  gap: 5rem;
  width: 100%;
  margin-top: 3.75rem;
  .suffix {
    flex: 1 1 calc(100% - 23.75rem);
  }
}

.searchWrap {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  .search_box {
    position: relative;
    flex: 1 1 auto;
    input {
      width: 100%;
      height: 3rem;
      padding: 0 1.875rem;
      background-color: #fafbfc;
      border: 1px solid var(--color-neutral-l-grey-2);
      border-radius: 6.25rem;
      font-size: 0.875rem;

      &::placeholder {
        color: var(--color-neutral-grey-3);
      }
    }
    button {
      position: absolute;
      right: 1.5rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .execl_download {
    width: 11.6875rem;
    padding: 0.8125rem 0;
    font-size: 1.125rem;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    font-weight: var(--font-weight-semibold);
    border-radius: 6.25rem;
  }
}

.tableWrapper {
  margin: 1.5rem 0;
  .table {
    width: 100%;

    label {
      margin-top: 0.3125rem;
    }
    tr {
      th {
        border-top: 1px solid var(--color-neutral-l-grey-1);
        border-bottom: 1px solid var(--color-neutral-l-grey-1);
        height: 4.5rem;
        text-align: center;
        font-size: 1rem;
        color: var(--color-neutral-grey-2);
        font-weight: var(--font-weight-regular);
      }
      td {
        text-align: center;
        height: 6.25rem;
        border-bottom: 1px solid var(--color-neutral-l-grey-1);
        font-size: 1rem;
        color: var(--color-neutral-black-2);
        font-weight: var(--font-weight-regular);
      }
    }
  }
}

.status {
  display: inline-block;
  line-height: 2.25rem;
  padding: 0 0.75rem;
  font-weight: var(--font-weight-medium);
  font-size: 0.9375rem;
  border-radius: 0.5rem;
  &.wait {
    background-color: var(--color-neutral-back);
    color: var(--color-neutral-grey-2);
  }
  &.approve {
    background-color: var(--color-primary-tint-1);
    color: var(--color-primary);
  }
}
.table_btn_wrap {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
  margin-top: 1.5rem;
  button {
    padding: 0;
    line-height: 2.875rem;
    font-size: 1.125rem;
    color: var(--color-neutral-black-2) !important;
  }
}
