.wrap {
  width: 100%;
  max-width: 92.5rem;
  margin-top: 16rem;
  padding-inline: 1.25rem;
}

.title_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6.25rem;

  & h1 {
    font-size: 4.375rem;
    font-weight: var(--font-weight-medium);
    line-height: 100%;
    color: var(--color-neutral-grey-1);
  }
}

.policy_info_wrap {
  width: 100%;
  border-top: 1px solid var(--color-neutral-grey-3);
  padding-top: 1.875rem;

  & .list_wrap {
    margin-bottom: 4.375rem;

    & .info_title_wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--color-neutral-grey-3);
      padding-bottom: 1.875rem;
      margin-bottom: 3.125rem;

      & span {
        font-size: 1.375rem;
        font-weight: var(--font-weight-medium);
        line-height: var(--line-height-normal);
        color: var(--color-neutral-black-2);
      }
    }

    & .info_desc_wrap {
      overflow: hidden;

      & p {
        font-size: 1.25rem;
        font-weight: var(--font-weight-regular);
        line-height: var(--line-height-normal);
        color: var(--color-neutral-grey-1);

        // 리스트 항목 스타일링 (①②③ 등이 포함된 span)
        span {
          display: block;
          padding-left: 1.5em;
          text-indent: -1.5em;
          margin: 0;
          margin-top: 1.25rem;

          &:first-of-type {
            margin-top: 0;
          }
        }
      }
    }
  }
}
