.empty_state {
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  padding-block: 6.25rem 10rem;

  strong {
    font-size: 1.25rem;
    font-weight: var(--font-weight-medium);
    color: var(--color-neutral-black-1);
  }

  p {
    font-size: 1rem;
    color: var(--color-neutral-grey-2);
  }
}
