@use '@/styles/mixin.scss' as *;

.container {
  width: 100%;
  font-weight: var(--font-weight-regular);
  padding-bottom: 0 !important;
  background-color: #f1f6f8;
}
.con_box {
  max-width: 120rem;
  margin: 0 auto;
}
.title {
  @include headline(1);
  font-size: 2.8125rem;
  font-weight: 700;
  color: var(--color-neutral-black-1);
  line-height: 135%;
}
.subtit {
  font-size: 1.125rem;
  color: var(--color-neutral-grey-1);
  margin-top: 1.5rem;
}
.small_title {
  @include headline(2);
  color: var(--color-neutral-black-1);
}
.small_subtit {
  font-size: 1.125rem;
  color: var(--color-neutral-grey-3);
}
.visual {
  padding-top: 14.375rem;
  text-align: center;
  background: url('/images/main/visual_back.png') no-repeat center bottom;
}
.service {
  background-color: #f1f6f8;
}
.service_wrap {
  background-color: #c5e2eb;
  padding: 6.25rem 5rem;
  max-width: calc(100% - 5.5rem);
  margin: 0 auto;
  border-radius: 2.25rem;
}
.sec_tit {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: fit-content;
  padding: 0.875rem 1.125rem 0.875rem 1.5rem;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  backdrop-filter: blur(0.625rem);
  border-radius: 18.75rem;
  color: var(--color-neutral-black-1);
  background-image: linear-gradient(145deg, #c5f7ff 37%, #9edce5 71%);
  &::before {
    content: '';
    display: block;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 100%;
    background-color: #00fff4;
  }
  &::after {
    content: '';
    position: absolute;
    left: 0.0625rem;
    top: 0.0625rem;
    z-index: -1;
    width: calc(100% - 0.125rem);
    height: calc(100% - 0.125rem);
    border-radius: 18.75rem;
    background-color: #d7edf3;
  }
}

.education {
  background: url('/images/main/education_back.png') no-repeat center top;
  padding-block: 8.125rem 8.75rem;

  .education_wrap {
    position: relative;
    max-width: 90rem;
    margin: 0 auto;
    &.education_wrap ~ .education_wrap {
      margin-top: 8.125rem;
    }
    .small_subtit {
      padding-block: 0.75rem 2.5rem;
    }
  }
}

.teacher {
  background: url('/images/main/teacher_back.png') no-repeat center top;
  padding: 6.25rem 1.25rem 12.5rem;
  overflow: hidden;

  .con_box {
    position: relative;
  }
  .teacher_wrap {
    max-width: 90rem;
    margin: 0 auto;
    .sec_tit {
      color: #eff0f8;
      background-image: linear-gradient(130deg, transparent 24%, #daf4f8 64%);
      &::after {
        background-color: #345b6c;
      }
    }
    .title {
      color: var(--color-neutral-white);
    }
    .small_subtit {
      color: #c1c2cc;
      padding-top: 1rem;
    }
  }
}

.experience {
  padding-block: 8.125rem 8.75rem;
  padding-left: 15rem;
  .sec_tit {
    &::after {
      background-color: #fafeff;
    }
  }
  .small_subtit {
    padding-top: 1rem;
  }
}

.faq {
  background: linear-gradient(180deg, #d9edf4 0%, rgba(217, 237, 244, 0) 100%),
    #f2f5f8;
  padding-block: 8.125rem 8.75rem;

  .faq_wrap {
    max-width: 90rem;
    margin: 0 auto;
    padding-inline: 1.25rem;
    .sec_tit {
      &::after {
        background-color: #eef7fa;
      }
    }
    .small_subtit {
      padding-top: 1rem;
    }
  }
}

.contact {
  height: 59.125rem;
  background: url('/images/main/contact_back.png') no-repeat center top;
  padding-block: 8.75rem 8.125rem;
  text-align: center;
  color: var(--color-neutral-white);
  .con_box {
    > p {
      font-size: 2.375rem;
      font-weight: 300;
    }
    > h2 {
      font-size: 3.375rem;
      font-weight: var(--font-weight-semibold);
    }
  }
  .btn_box {
    display: flex;
    align-items: center;
    gap: 1.875rem;
    max-width: 39rem;
    margin: 4.375rem auto 0;
    a {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0.625rem 0.875rem 0.625rem 1.75rem;
      border-radius: 62.5rem;
      font-weight: var(--font-weight-medium);
      font-size: 1.375rem;
      &.white {
        background-color: var(--color-neutral-white);
        color: var(--color-neutral-black-1);
        span {
          background-color: var(--color-primary);
          color: var(--color-neutral-white);
        }
      }
      &.white_line {
        border: 0.0625rem solid var(--color-neutral-white);
        color: var(--color-neutral-white);
        span {
          background-color: var(--color-neutral-white);
          color: var(--color-primary);
        }
      }
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        width: 3.625rem;
        height: 3.625rem;
        svg {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}

@media (max-width: 106.25rem) {
  .experience,
  .education {
    padding-left: 1.25rem;
  }
}
