@use '~/styles/mixin.scss' as *;

.button {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.375rem 1rem 0.375rem 0.75rem;
  background-color: var(--color-neutral-grey-5);
  border: 0.0625rem solid var(--color-neutral-grey-3);
  color: var(--color-neutral-grey-1);
  transition: all 0.2s ease;
  border-radius: 6.25rem;
  cursor: pointer;
  width: fit-content;

  &:hover {
    background-color: var(--color-neutral-grey-4);
  }

  &.active {
    background-color: #eef9fb;
    border-color: #28c3d4;
    color: #28c3d4;

    &:hover {
      background-color: #e0f4f7;
    }
  }
}

.text {
  @include text(3, regular);

  font-size: 0.9375rem;
  letter-spacing: -0.01875rem;
  line-height: normal;
  white-space: nowrap;
}

.count {
  @include text(3, regular);

  font-size: 0.9375rem;
  line-height: normal;
  white-space: nowrap;
}
