// 나의 후기

.my_review_rwap {
  & ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 5rem;

    & li {
      border-radius: 0.75rem;
      background: var(--color-neutral-white);
      padding: 1.5rem 1.875rem;
      cursor: pointer;
    }
  }
}

.review_item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.review_info {
  // height: 164px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 2.5rem;

  .review_tags_wrap {
    margin-bottom: 0.625rem;
  }

  .review_title {
    margin-bottom: 1.5rem;

    & span {
      font-size: 1.125rem;
      font-weight: var(--font-weight-medium);
      line-height: var(--line-height-normal);
      color: var(--color-neutral-black-1);
    }
  }

  .review_rating_wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.5rem;

    .review_rating {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1.1875rem;

      & span {
        font-size: 1rem;
        font-weight: var(--font-weight-regular);
        line-height: 100%;
        color: var(--color-neutral-black-2);
        margin-left: 0.3125rem;
      }
    }

    .review_date {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      & span {
        font-size: 1rem;
        font-weight: var(--font-weight-regular);
        line-height: 125%;
        color: var(--color-neutral-grey-3);
      }
    }

    .review_read {
      & p {
        font-size: 1rem;
        font-weight: var(--font-weight-regular);
        line-height: 135%;
        color: var(--color-neutral-grey-1);
      }
    }
  }
}

.review_img_wrap {
  margin-right: 1.875rem;

  & img {
    width: 10.25rem;
    height: 10.25rem;
    border-radius: 0.75rem;
  }
}

.review_icon_wrap {
  & svg {
    color: var(--color-neutral-grey-3);
    cursor: pointer;
  }
}
