@use 'sass:color';

.fab_container {
  position: fixed;
  right: 4.25rem;
  bottom: 3.5625rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  z-index: 1000;
}

@media (max-width: 1600px) {
  .fab_container {
    right: 2.8125rem;
    bottom: 3.75rem;
  }
}
@media (min-width: 2350px) {
  .fab_container {
    right: calc(50% - 71.5rem);
    bottom: 3.125rem;
  }
}

.fab_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.12rem;
  padding: 0.875rem 1.5rem;
  border-radius: 9999px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;

  .label {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.25;
    letter-spacing: -0.025em;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.primary {
    background-color: #11c5d4;
    border-color: #11c5d4;
    color: #ffffff;

    &:hover {
      background-color: color.adjust(#11c5d4, $lightness: -5%);
      border-color: color.adjust(#11c5d4, $lightness: -5%);
    }

    &:active {
      background-color: color.adjust(#11c5d4, $lightness: -10%);
      border-color: color.adjust(#11c5d4, $lightness: -10%);
    }
  }

  &.secondary {
    background-color: #ffffff;
    border-color: #11c5d4;
    color: #1e2022;

    &:hover {
      background-color: color.adjust(#11c5d4, $lightness: 45%);
    }

    &:active {
      background-color: color.adjust(#11c5d4, $lightness: 40%);
    }
  }
}
