.dimmed {
  position: fixed;
  inset: 0;
  display: block;
  background-color: rgba(79, 79, 85, 0.3);
  animation: fade-in 0.15s ease-out;
  transition: opacity 0.15s ease;
  cursor: pointer;

  &.dimmed_hidden {
    animation: fade-out 0.15s ease-in;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
