@use '@/styles/mixin.scss' as *;

.container {
  display: flex;
  position: sticky;
  margin-top: 6.31rem;
  top: 12.5625rem;
  flex-direction: column;
  gap: 3.125rem;
  min-width: 27rem;
  width: fit-content;
  height: fit-content;
  padding: 1.875rem;
  background-color: var(--color-neutral-white);
  border-radius: 1.5rem;
  box-shadow: var(--shadow-xl);
  margin-right: 1.25rem;
  transition: top 0.3s ease;
}

.container_scrolled {
  top: 6.3125rem;
}

.header_section {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
}

.content_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
}

.title {
  @include headline(3);
  margin: 0;
  color: var(--color-neutral-black-1);
  letter-spacing: -0.03rem;
}

.author_info {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.author_image {
  position: relative;
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.author_name {
  @include text(4, regular);
  color: var(--color-neutral-black-2);
  letter-spacing: -0.01875rem;
}

.price_section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.price {
  @include headline(3);
  color: var(--color-neutral-black-1);
  letter-spacing: -0.03rem;

  @include breakpoint_down() {
    @include headline(4);
  }
}

.rating_container {
  display: flex;
  align-items: center;
  gap: 0.0625rem;
}

.review_count {
  @include text(4, regular);
  color: var(--color-neutral-grey-2);
  letter-spacing: -0.01875rem;
  line-height: 1.3;
  font-size: 0.9375rem;
  margin-left: 1px;
}

.review_link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

.action_section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.button_container {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  width: 100%;
}

.purchase_button,
.cart_button {
  width: 100%;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: -0.025rem;
  line-height: normal;
}

.details_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.detail_row {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  width: 100%;
}

.detail_label {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  flex-shrink: 0;
}

.detail_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  width: 1.5rem;
  height: 1.5rem;

  svg {
    color: var(--color-neutral-grey-3);
  }
}

.detail_label span {
  @include text(4, regular);
  width: 3.75rem;
  color: var(--color-neutral-grey-3);
  letter-spacing: -0.01875rem;
  line-height: 1.35;
}

.detail_value {
  @include text(4, regular);
  flex: 1;
  min-width: 0;
  color: var(--color-neutral-black-2);
  letter-spacing: -0.01875rem;
  line-height: 1.35;
}
