.wrapper {
  width: 100%;
  padding: 0 1.25rem;
  margin-top: 15rem;
  background: linear-gradient(
      0deg,
      rgba(184, 224, 229, 0.17) 4.49%,
      rgba(217, 244, 247, 0) 39.15%
    ),
    linear-gradient(0deg, #fff 0%, #fff 100%),
    linear-gradient(0deg, #f6f7f9 0%, #f6f7f9 100%), #f7f8f8;
}

.profile_wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  margin-bottom: 5rem;

  .profile_img {
    position: relative;
    width: 7.75rem;
    height: 7.75rem;
    border: 2px solid var(--color-primary);
    border-radius: 100%;
    cursor: pointer;

    img {
      object-fit: cover;
      height: 100%;
      border-radius: 100%;
    }
    .ic_edit {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 100%;
      background-color: var(--color-primary);
      color: var(--color-neutral-white);
    }
  }
  p {
    font-size: 1.75rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-neutral-black-1);
  }
}

.card_wrap {
  max-width: 50rem;
  margin: 0 auto;

  .card {
    background-color: var(--color-neutral-white);
    padding: 2.5rem;
    border: 1px solid var(--color-neutral-l-grey-1);
    border-radius: 1.5rem;
    .title {
      font-size: 1.375rem;
      font-weight: var(--font-weight-bold);
      color: var(--color-neutral-black);
      margin-bottom: 2.5rem;
    }
    + .card {
      margin-top: 2.5rem;
    }
  }
}
.form_field {
  ul {
    li {
      position: relative;

      label {
        display: block;
        font-size: 1rem;
        font-weight: var(--font-weight-medium);
        color: var(--color-neutral-black);
        margin-bottom: 0.625rem;
      }
      + li {
        margin-top: 1.875rem;
      }
      input {
        height: 3.25rem;
      }
      input:read-only {
        color: var(--color-neutral-grey-2);
        &:focus {
          border-color: var(--color-neutral-l-grey-2);
        }
      }
      .inp_gray {
        cursor: default;
        background-color: var(--color-neutral-back);
        color: var(--color-neutral-grey-3);
      }
      svg {
        position: absolute;
        right: 1.375rem;
        bottom: 0.875rem;
      }
    }
  }
}
.interest_header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  h2 {
    flex: 1 1 auto;
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    color: var(--color-neutral-black-1);
  }
  .reselect_btn {
    display: flex;
    align-items: center;
    font-size: 0.9375rem;
    font-weight: var(--font-weight-regular);
    color: var(--color-neutral-grey-3);
  }
  &.interest_header ~ .interest_header {
    margin-top: 1.875rem;
  }
}
.badge_list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.375rem;
}
.subject_wrap {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
  gap: 0.625rem;

  .subject_group {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
  }
  .subject_title {
    padding: 0.5rem 0.6875rem;
    span {
      font-size: 0.9375rem;
      color: var(--color-neutral-grey-3);
      font-weight: var(--font-weight-medium);
    }
  }

  .subject_ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.4375rem;
  }
}

.topics_ul_wrap {
  & ul {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;

    & li {
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--color-neutral-back);
      border-radius: 0.25rem;
      padding: 0.25rem 0.5rem;

      & span {
        font-size: 0.9375rem;
        font-weight: 300;
        color: var(--color-neutral-grey-2);
        margin-right: 0.1875rem;
      }

      & svg {
        width: 1.5rem;
        height: 1.5rem;
        color: var(--color-neutral-grey-2);
        cursor: pointer;
      }
    }
  }
}
.link_list {
  li {
    a {
      position: relative;
      font-size: 1rem;
      font-weight: var(--font-weight-medium);
      color: var(--color-neutral-black-1);
      svg {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        path {
          stroke: var(--color-neutral-grey-3);
        }
      }
    }
    + li {
      margin-top: 1.6875rem;
    }
  }
}
.btn_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
