.tab_list {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.tab_trigger {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  border-bottom: 1.5px solid transparent;
  transition: all 0.2s ease;

  &:hover {
    opacity: 0.8;
  }

  &[data-state='inactive'] {
    .tab_label {
      font-weight: 500;
      color: #727983;
    }
  }
}

.tab_label {
  font-family: 'Pretendard', sans-serif;
  font-size: 1.125rem;
  line-height: 1.35;
  letter-spacing: -0.0225rem;
  white-space: nowrap;
}

.tab_content {
  padding-top: 1.25rem;

  &[data-state='inactive'] {
    display: none;
  }
}

// 언더라인 블랙 (ex. 자료 상세)
.tab_list {
  &.default {
    gap: 2.5rem;
    border-bottom: 0.0625rem solid #c9d0da;
    .tab_trigger {
      padding: 0.75rem 0;
      gap: 0.125rem;

      &[data-state='active'] {
        .tab_label {
          font-weight: 600;
          color: #1e2022;
        }
        border-bottom-color: #1e2022;
      }
      .tab_label {
        font-size: 1.125rem;
      }
    }

    .tab_badge {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.125rem 0.375rem;
      background-color: #11c5d4;
      color: #ffffff;
      font-family: 'Pretendard', sans-serif;
      font-size: 0.75rem;
      font-weight: 500;
      letter-spacing: -0.015rem;
      border-radius: 6.25rem;
      white-space: nowrap;
    }
  }
}

// 언더라인 청록 (ex. 구매 목록)
.tab_list {
  &.primary {
    gap: 3rem;
    border-bottom: 1px solid #c9d0da;
    .tab_trigger {
      padding-bottom: 1.25rem;
      gap: 0.375rem;

      &[data-state='active'] {
        .tab_label {
          font-weight: 600;
          color: #1e2022;
        }
        border-bottom-color: #11c5d4;
        border-bottom-width: 0.1875rem;

        .tab_badge {
          color: var(--color-neutral-black-1);
          font-weight: var(--font-weight-semibold);
        }
      }
      .tab_label {
        font-size: 1.25rem;
      }
    }

    .tab_badge {
      font-size: 1.25rem;
      color: var(--color-neutral-grey-2);
      white-space: nowrap;
    }
  }
}

// 언더라인 청록 가운데 라인 (ex. 정산 목록)
.tab_list {
  &.centerline {
    gap: 7.5rem;
    .tab_trigger {
      padding-bottom: 1.25rem;
      border-bottom-width: 0.1875rem;

      &[data-state='active'] {
        .tab_label {
          font-weight: 600;
          color: #1e2022;
        }
        border-bottom-color: #11c5d4;
      }
      &.tab_trigger ~ .tab_trigger::before {
        content: '';
        position: absolute;
        top: 0.3125rem;
        left: -3.75rem;
        width: 1px;
        height: 0.875rem;
        background-color: #8f99a4;
      }
    }
  }
}
